﻿@model IEnumerable<eServices.Models.LinkedAccount>
@using eServices.Models
@{
    BusinessLogic bl = new BusinessLogic();


}


<style>
    #formtable {
        /*width: 70%;
        border-collapse: separate;
        /*border-spacing: 0 5px;*/
        /*font-size: 12.5px;*/
        margin-left: 1%;
        margin-top: 5%;
        margin-bottom:5%;
      
        
        /*border:solid 1px black;*/
    }

    /*#tdBord {
        border-right: hidden;
        border-top: hidden;
        border-bottom: hidden;
    }*/

    td,tr,th,{
        border:solid 1px black;
        /*border-bottom:solid 1px black;*/
    }
    .divLogin {
        position: relative;
        left: 10%;
        width: 75%;
        height: 100%;
        background-color: white;
        border: solid lightgray;
        margin-top: 5%;

    }
    h3{
        text-align:center;
    }
</style>
<div class="divLogin">
    <h3>Awaiting Verification</h3>
    <table  class="table" id="formtable" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </th>

            <th></th>

        </tr>

        @foreach (var item in Model)
        {
            if (item.AccountStatus.ToLower() == "awaiting verification")
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName) @Html.DisplayFor(modelItem => item.Customer.CustomerSurname)
                </td>
                
                <td>
                 
                    <u> @*@Html.ActionLink("Verify", "AcceptAcc", new { id = item.CustomerId})*@
                    @Html.ActionLink("Verify","Edit","VerifyAccount",new { id = item.AccountId },null)</u>
                </td>
            </tr>
            }
        }

    </table>
</div>