﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/w3css.css" rel="stylesheet" />
    @using eServices.Models;
    @{
        BusinessLogic bl = new BusinessLogic();
    }
    <style>
        body {
            font-size: 10pt;
            overflow-y: hidden;
        }

        .pos {
            position: absolute;
            left: 40%;
            top: 3%;
        }

        .dash-header {
            background: #1e97c3;
            color: white;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            height: 50px;
            margin-bottom: 30px;
            padding-top:10px;
        }

        .stickers li {
            float: left;
            background-color: #1e97c3;
            height: 200px;
            width: 250px;
            list-style: none;
            margin-left: 30px;
            text-align: center;
            color: white;
        }

        li div {
            background: #074887;
            height: 100px;
            width: 100px;
            border-radius: 100%;
            margin-left: 30%;
            margin-top: 5%;
            text-align: center;
        }

        .subicon {
            height: 30px;
            width: 30px;
            color: white;
            font-size: 12px;
        }



        li div .glyphicon {
            color: white;
            font-size: 55px;
            margin-top: 20%;
        }

        li div p {
            color: white;
            font-size: 12px;
            margin-top: 20px;
            width:100%;
        }

        .glyphicon {
            color: grey;
        }

        .button {
            width: 100%;
        }

        .divMenu {
            position: relative;
            margin-left: 25%;
            width: 50%;
            background-color: white;
            margin-top: 80px;
            height: 450px;
            width: 70%;
        }

        .userImg {
            width: 10%;
            height: 10%;
            position: absolute;
            top: 3%;
            right: 0;
        }
    </style>

    <script>
        function Spin() {
            document.getElementById('loading').className = 'loading';
        }
    </script>

</head>

<body style="background-color:#f1f1f1">
    <div class="loading hidden" id="loading">Loading&#8230;</div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;border-bottom:none">
        <img id="topnav" src="~/Content/pics/cropped-transparent_TECH_DATA1.png" style="height:70px" />

    </div>
    <div style="background-color:#074887;margin-top:4.8%;color:white;padding: 5px 0 0 5px;" class="navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eServices", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;margin-top:-10px" id="mySidebar">
            <br>
            <div class="w3-container">
                <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                    <i class="fa fa-remove"></i>
                </a>
                <p style="text-align:center">
                    <a href="~/UpdateProfile/Edit">
                        <img src="~/Content/pics/defaultuser.png" style="width:45%;" class="w3-round"><br><br>
                    </a>
                    <b>eServices - Customer</b>
                    <br />
                    <span class="w3-text-grey">@User.Identity.Name</span>

                </p>

                <h4></h4>
                <p></p>
            </div>
            <div class="w3-bar-block">
                <a href="~/Home/Index" onclick="Spin()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="glyphicon glyphicon-home w3-margin-right"></i>Home</a>
                <a href="~/UpdateProfile/Edit" onclick="Spin()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-user w3-margin-right"></i>My Profile</a>
                <a href="~/LinkedAccounts/Create" onclick="Spin()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-tasks w3-margin-right"></i>My Accounts</a>
                <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-envelope w3-margin-right"></i>Correspondence</a>
                <a href="~/LinkedAccounts/ViewBills" onclick="Spin()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-credit-card w3-margin-right"></i>Manage Bills</a>
                <a href="~/Manage/ChangePassword" onclick="Spin()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-cog w3-margin-right"></i>Account Settings</a>
            </div>
            <div class="w3-panel w3-large">
                


                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-block">Logout</a>

                }










            </div>
        </nav>
        @*<div class="jumbotron divMenu">
                <br />
                <h2 class="pos">MENU</h2>
                <h5><b>There are no linked accounts, to add an account please click the Manage Bills button below:</b></h5><br />

                <p><a href="~/LinkedAccounts/Create" class="btn btn-primary btn-lg  button">Manage Bills </a></p><br />
                <p><a href="~/LinkedAccounts/ViewBills" class="btn btn-primary btn-lg button">View Bills </a></p><br />
                <p><a href="~/Correspondences/Create" class="btn btn-primary btn-lg button disabled">Submit Correspondence </a></p>
            </div>*@

        <div class="jumbotron divMenu">
            <div class="dash-header">
                @{
                    <p>

                        @if (bl.getNameSurname(User.Identity.Name).EndsWith("s"))
                        {
                        @bl.getNameSurname(User.Identity.Name)<span>' Portal</span>
                        }
                        else
                        {
                        @bl.getNameSurname(User.Identity.Name)<span>'s Portal</span>
                        }
                        



                    </p>
                }

            </div>
            <ul class="stickers">
                <li style="margin-left:-10px">
                    <div>
                        <i class="glyphicon glyphicon-tasks"></i>
                        <p>Active Accounts</p>
                        <p>
                            <div class="subicon">
                                <span>@bl.CountActiveAccounts(User.Identity.Name)</span>
                            </div>

                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <p>Correspondence</p>
                        <p>
                            <div class="subicon">
                                <span>@bl.CountCorrespondences(User.Identity.Name)</span>
                            </div>

                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="glyphicon glyphicon-credit-card"></i>
                        <p>All Bills</p>
                        <p>
                            <div class="subicon">
                                <span>0</span>
                            </div>

                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div>
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - eServices Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
