﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/w3css.css" rel="stylesheet" />
    <style>
         body {
            font-size: 10pt;
            overflow-y:hidden;
        }
        .pos {
            position: absolute;
            left: 43%;
            top: 3%;
        }

        .button {
            width: 100%;
        }

        .divMenu {
            margin-left: 50%;
            width: 60%;
            height: 100%;
            background-color: white;
            border: solid lightgray;
            margin-top: 15%;
        }

        .userImg {
            width: 10%;
            height: 10%;
            position: absolute;
            top: 3%;
            right: 0;
        }

      #formtable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
    }

      .formtblClass {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
        margin-top:-10px;
    }

      .pAlign{
          display:inline-block;
        
      }

      
        .glyphicon{
            color:grey;
        }

            .divMenu {
            position:relative;
            margin-left:35%;
            width: 50%;
            height: 500px;
            /*overflow-y:auto;*/
            background-color: white;
            border: solid lightgray;
            margin-top: 80px;
        }
      .divCenter{
          margin:auto;
         
          text-align:center;
      }
    </style>
<script>
  
   

    function getAccount() {
        var accNo = $("#AccNo").val();
        var link = "/Bills/Details/" + accNo;
        $.get("/Home/getAccount/" + accNo, function (data) {
            document.getElementById('DateLastPaid').value = data.PaymentMade;
            document.getElementById('AmountLastPaid').value = data.PaymentMadeAmount;
            document.getElementById('DateAmountDue').value = data.DateAccountDue;
            document.getElementById('TotalAmountDue').value = data.TotalAmountDue;
            //document.getElementById('h6Acc').innerHTML = "Account Number:" + accNo;
            
                $("#pAlign").attr("href", link);
            
            
            
            
        });

    }

</script>

    <script>
        function Spin() {
            document.getElementById('loading hidden').className = 'loading';
        }
    </script>

    <script>
        function Spin() {
            document.getElementById('loading').className = 'loading';
        }
    </script>

</head>

<body style="background-color:#f1f1f1">
    <div class="loading hidden" id="loading">Loading&#8230;</div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;border-bottom:none">
        <img id="topnav" src="~/Content/pics/cropped-transparent_TECH_DATA1.png" style="height:70px" />

    </div>
    <div style="background-color:#074887;margin-top:4.8%;color:white;padding: 5px 0 0 5px;" class="navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eServices", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;margin-top:55px" id="mySidebar">
        <br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            <p style="text-align:center">
                <a href="~/UpdateProfile/Edit">
                    <img src="~/Content/pics/defaultuser.png" style="width:45%;" class="w3-round"><br><br>
                </a>
                <b>eServices - Customer</b>
                <br />
                <span class="w3-text-grey">@User.Identity.Name</span>
            </p>

            <h4></h4>
            <p></p>
        </div>
        <div class="w3-bar-block">
            <a href="~/Home/Index" onclick="Spin()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="glyphicon glyphicon-home w3-margin-right"></i>Home</a>
            <a href="~/UpdateProfile/Edit" onclick="Spin()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-user w3-margin-right"></i>My Profile</a>
            <a href="~/LinkedAccounts/Create" onclick="Spin()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-tasks w3-margin-right"></i>My Accounts</a>
            <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-envelope w3-margin-right"></i>Correspondence</a>
            <a href="~/LinkedAccounts/ViewBills" onclick="Spin()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-credit-card w3-margin-right"></i>Manage Bills</a>
            <a href="~/Manage/ChangePassword" onclick="Spin()" class="w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-cog w3-margin-right"></i>Account Settings</a>
        </div>
        <div class="w3-panel w3-large">
           

            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
            {
            @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-block">Logout</a>
                
            }


        </div>

    </nav>
        <div class="jumbotron divMenu">
            <h2 class="pos">MENU</h2><br />

            <table class="formtblClass">
                <tr>
                    <th><h6>@Html.Label("Please Select an Account", null, new { @class = "control-label" })</h6></th>
                    <td>

                        <select id="AccNo" name="AccountNumber" class="form-control" onchange="getAccount();">
                            @{
                                <option value="">Select Account</option>
                                foreach (var e in ViewBag.accounts)
                                {
                                    <option value="@e.AccountNumber">@e.AccountNumber</option>
                                }
                            }
                        </select>

                    </td>
                </tr>

                <tr>
                    <th></th>
                    <td>
                        <p class="pAlign"><a id="pAlign" href="" class="btn btn-primary btn-sm button">View Bill for This Account </a></p>

                    </td>
                </tr>
            </table>
            <br />
            <div style="border:solid 1px black;margin-top:-50px">
                @*<h6 style="position:relative;text-align:center" id="h6Acc">Account Number:</h6>*@
                <table id="formtable">
                    <tr>
                        <th><h6>@Html.Label("Date Last Paid")</h6></th>

                        <td>@Html.TextBox("Account", null, new { @class = "form-control", @id = "DateLastPaid", @readonly = "readonly" })</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>

                    <tr>
                        <th><h6>@Html.Label("Amount Last Paid")</h6></th>
                        <td>@Html.TextBox("Account", null, new { @class = "form-control", @id = "AmountLastPaid", @readonly = "readonly" })</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>

                    <tr>
                        <th><h6>@Html.Label("Date Amount Due")</h6></th>
                        <td>@Html.TextBox("Account", null, new { @class = "form-control", @id = "DateAmountDue", @readonly = "readonly" })</td>
                    </tr>

                    <tr></tr>
                    <tr></tr>

                    <tr>
                        <th><h6>@Html.Label("Total Amount Due")</h6></th>
                        <td>@Html.TextBox("Account", null, new { @class = "form-control", @id = "TotalAmountDue", @readonly = "readonly" })</td>
                    </tr>


                </table>


            </div>
            <br />
            <div class="divCenter" style="margin-top:-40px">

                @{
                    if (ViewBag.Count == 1)
                    {
                        <p class="pAlign"><a href="~/Bills/Details/@ViewBag.AccountNumber" class="btn btn-primary btn-sm button">View Bills </a></p>

                    }
                    else
                    {
                        <p class="pAlign"><a href="~/LinkedAccounts/ViewBills" class="btn btn-primary btn-sm button">View Bills </a></p>

                    }
                }

                <p class="pAlign"><a href="~/LinkedAccounts/Create" class="btn btn-primary btn-sm  button">Manage Bills</a></p>
                <p class="pAlign"><a href="~/Correspondences/Create" class="btn btn-primary btn-sm button disabled">Submit Correspondence </a></p>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - eServices Application</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

