﻿@using Microsoft.AspNet.Identity
@using eServices.Controllers
@using eServices.Models
@{ 
    BusinessLogic bl = new BusinessLogic();
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
       
    <ul class="nav navbar-nav navbar-right">
        @*<li>
            <a href="~/UpdateProfile/Edit"><img src="~/Content/pics/user2.png" class="userImg" style="width:40px ; height:40px"></a>
            </li>*@
        <li> 
            @Html.ActionLink("Hello " + bl.getNameSurname(User.Identity.GetUserName()) + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
