﻿@model eServices.Models.Customer

@{
    ViewBag.Title = "Edit";
    var message = TempData["AlertMessage"] ?? string.Empty;
    Layout = "~/Views/SHared/_Customer.cshtml";
}
<style>
    /*.divLogin{
        position:relative;
        left:10%;
        width:75%;
        height:100%;
        background-color:white;
        border:solid lightgray;
        margin-top:5%;
    }

    .center{
        position:relative;
        margin:5%;
        left:20%;

    }
    h2{
        position:relative;
        left:40%;
    }

    .size{
        position:relative;
        left:50%;


    }*/

    .divLogin {
        position: relative;
        margin-left: 30%;
        width: 60%;
        background-color: white;
        margin-top: 80px;
        padding: 10px;
    }

    #formtable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
    }

    /*input {
        width: 50%;
    }*/


    #SubmitPane {
        margin-left: 25%;
        margin-top: 10%;
    }

    /*#SubmitPane button, #SubmitPane a {
            width: 150px;
        }*/
</style>

<style type="text/css">
    .error {
        color: red;
    }

    .movButton {
        position: relative;
        display: inline;
        right: 100%;
    }
</style>

<script>
    var msg = '@message';
    if (msg)
        alert(msg);
</script>

<script>

    $document.getElementById("formId").submit(ValidateId);
    var idno = document.getElementById("txtRSAID").value;
    var pass = document.getElementById("txtPass").value;

    function ValidateId() {
        var id = document.getElementById("txtRSAID").value
        var id1 = id.slice(0, 12);
        var idOdd = "";
        var idEven = "";
        var addOdd = 0;
        var addEven = 0;
        var idCheck = id.substring(12, 13);

        for (var i = 1; i <= id1.length; i++) {
            if (i % 2 != 0) {
                idOdd += id.substring(i - 1, i);


            }
            else {
                idEven += id.substring(i - 1, i);
            }
        }

        for (var i = 1; i <= idOdd.length; i++) {
            addOdd = addOdd + Number(idOdd.substring(i - 1, i))
        }

        var idEvenX = Number(idEven) * 2;

        var idEvenXString = idEvenX.toString();


        for (var i = 1; i <= idEvenXString.length; i++) {
            addEven = addEven + Number(idEvenXString.substring(i - 1, i))
        }

        var AddAll = addOdd + addEven;

        var singleD = AddAll.toString().substring(1, 2);
        var ControlCheck = 10 - Number(singleD);

        if (Number(idCheck) != ControlCheck) {
            //alert("invalid id")
            document.getElementById("IDerror").innerHTML = "The Id number entered is invalid!";

            return false;

        }
        else {
            document.getElementById("IDerror").innerHTML = "";
            return true;

        }


        //alert(idOdd + "  " + idEven + " " + addOdd + " " + idEvenX + " " + addEven + " " +ControlCheck);
    }
    function ValidateCellNo(idCellNo) {
        var cellNo = idCellNo.value;
        if (cellNo.length != 10) {
            //alert("Cell Number Must Be 10 Digits");
            $('#feedbackcellnStatus').remove();
            $("#Idstatus").append("<div id='feedbackcellnStatus'><center><font color='red'>Cell Number Must Be 10 Digits</font></center></div>");
            idCellNo.style.border = '1px solid red';
            idCellNo.value = null;
            //document.getElementById("txtCellNo").focus();
            return false;
        }
        else {
            idCellNo.style.border = '';
            $('#feedbackcellnStatus').remove();
        }
        //break;
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            alert("Please enter only Numbers.");
            return false;
        }

        return true;
    }

    function CheckName(txt) {
        var regName = new RegExp('^[a-zA-Z\. ]+$');
        if (txt.value.match(regName) === null) {
            txt.value = txt.value.substr(0, (txt.value.length - 1));
        }
    }

    function CheckName1(txt) {
        var regName = new RegExp('^[,()0-9a-zA-Z\. ]+$');
        if (txt.value.match(regName) === null) {
            txt.value = txt.value.substr(0, (txt.value.length - 1));
        }
    }

    function OpenButtons1() {
        var update1 = document.getElementById('Update1');
        var save1 = document.getElementById('Save1');
        var cancel1 = document.getElementById('Cancel1');

        save1.className = 'btn btn-primary';
        cancel1.className = 'btn btn-danger';
        update1.className = 'hidden';
        document.getElementById('displayname').style.display = 'none'; document.getElementById('inputname').style.display = 'block';
        document.getElementById('displaysurname').style.display = 'none'; document.getElementById('inputsurname').style.display = 'block';
        document.getElementById('displayid').style.display = 'none'; document.getElementById('inputid').style.display = 'block';
        document.getElementById('displaygender').style.display = 'none'; document.getElementById('inputgender').style.display = 'block';
        document.getElementById('displaypass').style.display = 'none'; document.getElementById('inputpass').style.display = 'block';
        
        document.getElementById('displaycell').style.display = 'none'; document.getElementById('inputcell').style.display = 'block';
        document.getElementById('displayemail').style.display = 'none'; document.getElementById('inputemail').style.display = 'block';
        document.getElementById('displayphysical').style.display = 'none'; document.getElementById('inputphysical').style.display = 'block';
        document.getElementById('displaypostal').style.display = 'none'; document.getElementById('inputpostal').style.display = 'block';
        var scrollingElement = (document.scrollingElement || document.body);
        scrollingElement.scrollTop = scrollingElement.scrollHeight;
    }


    function CloseButtons1() {

        var update1 = document.getElementById('Update1');
        var save1 = document.getElementById('Save1');
        var cancel1 = document.getElementById('Cancel1');

        save1.className = 'btn btn-primary hidden';
        cancel1.className = 'btn btn-danger hidden';
        update1.className = 'btn btn-primary';
        document.getElementById('displayname').style.display = 'block'; document.getElementById('inputname').style.display = 'none';
        document.getElementById('displaysurname').style.display = 'block'; document.getElementById('inputsurname').style.display = 'none';
        document.getElementById('displayid').style.display = 'block'; document.getElementById('inputid').style.display = 'none';
        document.getElementById('displaygender').style.display = 'block'; document.getElementById('inputgender').style.display = 'none';
        document.getElementById('displaypass').style.display = 'block'; document.getElementById('inputpass').style.display = 'none';
        
        document.getElementById('displaycell').style.display = 'block'; document.getElementById('inputcell').style.display = 'none';
        document.getElementById('displayemail').style.display = 'block'; document.getElementById('inputemail').style.display = 'none';
        document.getElementById('displayphysical').style.display = 'block'; document.getElementById('inputphysical').style.display = 'none';
        document.getElementById('displaypostal').style.display = 'block'; document.getElementById('inputpostal').style.display = 'none';

        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function checkPostal() {

        document.getElementById("Postaddress1").value = document.getElementById("paddress1").value
        document.getElementById("Postaddress2").value = document.getElementById("paddress2").value
        document.getElementById("Postaddress3").value = document.getElementById("paddress3").value


    }

    function myFunction() {
        //var ddl = document.getElementById("selectIdType");
        //var idno = document.getElementById("IdNo").style;
        //var pass = document.getElementById("Pass").style;

        //if (ddl.value == "RSA ID") {
        //    document.getElementById("selectIdType").dataset.target = "#RSA";
        //    idno.display = 'table-row';
        //    pass.display = 'none';
        //}
        //else if (ddl.value == "Passport Number") {
        //    document.getElementById("selectIdType").dataset.target = "#PassNo";
        //    pass.display = 'table-row';
        //    idno.display = 'none';
        //}
        //else {
        //    document.getElementById("selectIdType").dataset.target = null;
        //    idno.display = 'none';
        //    pass.display = 'none';
        //}


        //if (idno != "" && pass == "") {
        //    document.getElementById("Pass").style.display = "none";
        //}
        //else {
        //    document.getElementById("IdNo").style.display = "none";
        //}
        //alert(idno);
    }


</script>



<div class="divLogin" id="divLogin">
    @using (Html.BeginForm("Edit", "UpdateProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "formId", onsubmit = "return ValidateId();" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CustomerId)

        <h3 class="text-center">Profile Details</h3>
        <table class="table table-bordered table-striped">
            <tr>
                <td>
                    <h6><b>Personal Details </b></h6>
                </td>
                <td></td>
            </tr>
            <tr>
                <th>First Name</th>
                <td id="displayname">
                    @Model.CustomerName
                </td>

                <td id="inputname" style="display:none">
                    @Html.EditorFor(m => m.CustomerName, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName(this);", onkeydown = "CheckName(this);" } })
                </td>

            </tr>
            <tr>
                <th>Last Name</th>
                <td id="displaysurname">@Model.CustomerSurname</td>

                <td id="inputsurname" style="display:none">
                    @Html.EditorFor(m => m.CustomerSurname, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName(this);", onkeydown = "CheckName(this);" } })
                </td>
            </tr>

            <tr id="IdNo" style="display:@ViewBag.show">
                <th>ID Number</th>
                <td id="displayid">@Model.IdNumber</td>

                <td id="inputid" style="display:none">
                    @Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control", @id = "txtRSAID", @onclick = "myFunction()" })
                </td>
            </tr>

            <tr id="Pass" style="display:@ViewBag.show1">
                <th>Passport Number</th>
                <td id="displaypass">@Model.PassportNumber</td>

                <td id="inputpass" style="display:none">
                <td>@Html.TextBoxFor(m => m.PassportNumber, new { @id = "txtPass", @class = "form-control" })</td>
            </tr>

            <tr>
                <th>Gender</th>
                <td id="displaygender">@Model.Gender</td>

                <td id="inputgender" style="display:none">
                    @Html.DropDownListFor(m => m.Gender, new List<SelectListItem> {
                new SelectListItem { Text = "Male", Value = "Male" },
                new SelectListItem { Text = "Female", Value = "Female" }
               }, "Select Gender", new { @class = "form-control" })
                </td>
            </tr>

            <tr>
                <td>
                   <h6><b>Contact Details </b></h6> 
                </td>
                <td></td>
            </tr>

            <tr>
                <th>Cellphone Number</th>
                <td id="displaycell">@Model.CellphoneNumber</td>

                <td id="inputcell" style="display:none">
                    @Html.EditorFor(m => m.CellphoneNumber, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)", id = "idCellNo", onfocusout = "ValidateCellNo();" } })
                </td>
            </tr>
            <tr>
                <th>Email Address</th>
                <td id="displayemail">@Model.Email</td>

                <td id="inputemail" style="display:none">
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <th>Physical Address</th>
                <td id="displayphysical">@Model.PhysicalAddress @Model.PhysicalAddressLine2 @Model.PhysicalPostalCode</td>
                <td id="inputphysical" style="display:none">
                    <label>Street/Road Name</label><br />
                    @Html.EditorFor(m => m.PhysicalAddress, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", @id = "paddress1", onkeydown = "CheckName1(this);" } })
                    <label>City</label><br />
                    @Html.EditorFor(m => m.PhysicalAddressLine2, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", @id = "paddress2", onkeydown = "CheckName1(this);" } })
                    <label>Postal Code</label><br />
                    @Html.EditorFor(m => m.PhysicalPostalCode, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)", @id = "paddress3" } })
                </td>
            </tr>
            <tr>
                <th>Postal Address</th>
                <td id="displaypostal">@Model.PostalAddress @Model.PostalAddressLine2 @Model.PostalAddressCode</td>

                <td id="inputpostal" style="display:none">
                <span id="tdChkBox"><input type="checkbox" id="chkPostal" name="chkPostal" onclick="checkPostal()"> <b>Same as Physical Address?</b></span><br />
                    <br />
                    <label>Street/Road Name</label><br />
                    @Html.EditorFor(m => m.PostalAddress, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", @id = "Postaddress1", onkeydown = "CheckName1(this);" } })
                    <label>City</label><br />
                    @Html.EditorFor(m => m.PostalAddressLine2, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", @id = "Postaddress2", onkeydown = "CheckName1(this);" } })
                    <label>Postal Code</label><br />
                    @Html.EditorFor(m => m.PostalAddressCode, new { htmlAttributes = new { @class = "form-control", @id = "Postaddress3", onkeypress = "return isNumber(event)" } })
                </td>
            </tr>
        </table>


        <a class="btn btn-primary" id="Update1" onclick="OpenButtons1()">Edit Details</a>
        <button class="btn btn-primary hidden" id="Save1" type="submit">Save</button>
        <a class="btn btn-danger hidden" id="Cancel1" onclick="CloseButtons1()">Cancel</a>
        @*


            </table>
            @*<div id="SubmitPane">
                <table>
                    <tr>
                        <td>
                            <p class="movButton">@Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "btn btn-default" })</p>
                        </td>
                        <td>@Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-default" })</td>
                        <td><button type="submit" value="Save" class="btn btn-default">Save</button></td>

                    </tr>
                </table>

            </div>*@


        @*@Html.ValidationSummary(false, "", new { @class = "error" })*@

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}



<div class="modal fade" id="personal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Update Personal Details</h4>
            </div>
            @using (Html.BeginForm("Edit", "UpdateProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "formId", onsubmit = "return ValidateId();" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.CustomerId)
                <div class="modal-body mx-3">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <table id="formtable">
                        <tr>
                            <td>@Html.LabelFor(m => m.CustomerName, new { @class = "control-label" })</td>
                            <td>@Html.EditorFor(m => m.CustomerName, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName(this);", onkeydown = "CheckName(this);" } })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.CustomerSurname, new { @class = "control-label" })</td>
                            <td>@Html.EditorFor(m => m.CustomerSurname, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName(this);", onkeydown = "CheckName(this);" } })</td>
                        </tr>


                        <tr id="IdNo" style="display:@ViewBag.show">
                            <td>@Html.LabelFor(m => m.IdNumber, new { @class = "control-label" })</td>
                            <td>@Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control", @id = "txtRSAID", @readonly = "readonly", @onclick = "myFunction()" })</td>
                        </tr>

                        <tr id="Pass" style="display:@ViewBag.show1">
                            <td>@Html.LabelFor(m => m.PassportNumber, new { @class = "control-label" })</td>
                            <td>@Html.TextBoxFor(m => m.PassportNumber, new { @id = "txtPass", @class = "form-control", @readonly = "readonly" })</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(m => m.Gender, new { @class = "control-label" })</td>
                            <td>
                                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem> {
                new SelectListItem { Text = "Male", Value = "Male" },
                new SelectListItem { Text = "Female", Value = "Female" }
               }, "Select Gender", new { @class = "form-control" })
                            </td>
                        </tr>
                    </table>

                    <table style="display:none">

                        <tr>
                            <td>@Html.LabelFor(m => m.CellphoneNumber, new { @class = "control-label" })</td>
                            <td> @Html.EditorFor(m => m.CellphoneNumber, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)", id = "idCellNo", onfocusout = "ValidateCellNo();" } })</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.PhysicalAddress, new { @class = "control-label" })</td>
                            <td>
                                @Html.EditorFor(m => m.PhysicalAddress, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);" } })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.EditorFor(m => m.PhysicalAddressLine2, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);" } })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.EditorFor(m => m.PhysicalPostalCode, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)" } })
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.PostalAddress, new { @class = "control-label" })</td>
                            <td>
                                @Html.EditorFor(m => m.PostalAddress, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);" } })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.EditorFor(m => m.PostalAddressLine2, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);" } })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.EditorFor(m => m.PostalAddressCode, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)" } })
                            </td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(m => m.Email, new { @class = "control-label" })</td>
                            <td>@Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        </tr>
                    </table>


                </div>
                <div class="modal-footer d-flex justify-content-center">

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" name="action" id="submit" value="Submit" class="btn btn-primary" />
                            <span><input type="button" value="Close" class="btn btn-danger" data-dismiss="modal"></span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Update Contact Details</h4>
            </div>
            @using (Html.BeginForm("Edit", "UpdateProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "formId", onsubmit = "return ValidateId();" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.CustomerId)
                <div class="modal-body mx-3">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <table style="display:none">
                        <tr>
                            <td>@Html.LabelFor(m => m.CustomerName, new { @class = "control-label" })</td>
                            <td>@Html.EditorFor(m => m.CustomerName, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName(this);", onkeydown = "CheckName(this);" } })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.CustomerSurname, new { @class = "control-label" })</td>
                            <td>@Html.EditorFor(m => m.CustomerSurname, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName(this);", onkeydown = "CheckName(this);" } })</td>
                        </tr>


                        <tr id="IdNo" style="display:@ViewBag.show">
                            <td>@Html.LabelFor(m => m.IdNumber, new { @class = "control-label" })</td>
                            <td>@Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control", @id = "txtRSAID", @readonly = "readonly", @onclick = "myFunction()" })</td>
                        </tr>

                        <tr id="Pass" style="display:@ViewBag.show1">
                            <td>@Html.LabelFor(m => m.PassportNumber, new { @class = "control-label" })</td>
                            <td>@Html.TextBoxFor(m => m.PassportNumber, new { @id = "txtPass", @class = "form-control", @readonly = "readonly" })</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(m => m.Gender, new { @class = "control-label" })</td>
                            <td>
                                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem> {
                new SelectListItem { Text = "Male", Value = "Male" },
                new SelectListItem { Text = "Female", Value = "Female" }
               }, "Select Gender", new { @class = "form-control" })
                            </td>
                        </tr>
                    </table>

                    <table id="formtable">

                        <tr>
                            <td>@Html.LabelFor(m => m.CellphoneNumber, new { @class = "control-label" })</td>
                            <td> @Html.EditorFor(m => m.CellphoneNumber, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)", id = "idCellNo", onfocusout = "ValidateCellNo();" } })</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.PhysicalAddress, new { @class = "control-label" })</td>
                            <td>
                                @Html.EditorFor(m => m.PhysicalAddress, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);" } })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.EditorFor(m => m.PhysicalAddressLine2, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);" } })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.EditorFor(m => m.PhysicalPostalCode, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)" } })
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.PostalAddress, new { @class = "control-label" })</td>
                            <td>
                                @Html.EditorFor(m => m.PostalAddress, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);" } })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.EditorFor(m => m.PostalAddressLine2, new { htmlAttributes = new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);" } })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.EditorFor(m => m.PostalAddressCode, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)" } })
                            </td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(m => m.Email, new { @class = "control-label" })</td>
                            <td>@Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        </tr>
                    </table>


                </div>
                <div class="modal-footer d-flex justify-content-center">

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" name="action" id="submit" value="Submit" class="btn btn-primary" />
                            <span><input type="button" value="Close" class="btn btn-danger" data-dismiss="modal"></span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
