﻿@model eServices.Models.CorrespondenceViewModel

@{

    ViewBag.Title = "Edit";
    Layout = "~/Views/SHared/_Customer.cshtml";
    var message = TempData["AlertMessage"] ?? string.Empty;

}

<style>
    /*.divLogin{

        position:relative;

        left:10%;

        width:75%;

        height:100%;

        background-color:white;

        border:solid lightgray;

        margin-top:5%;

    }

    .center{

        position:relative;

        margin:5%;

        left:20%;



    }

    h2{

        position:relative;

        left:40%;

    }

    .size{

        position:relative;

        left:50%;



    }*/

    .divLogin {
        position: relative;
        margin-left: 30%;
        width: 60%;
        height: 500px;
        overflow-y: auto;
        background-color: white;
        margin-top: 8px;
        padding: 10px;
    }

    #formtable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
    }

    input {
        width: 50%;
    }

        input[type=submit] {
            /* background-color: lightgray;*/
            max-width: 100%;
            margin-bottom: 1%;
        }

    #SubmitPane {
        margin-left: 50%;
        margin-top: 10%;
    }

        #SubmitPane button, #SubmitPane a {
            width: 150px;
        }
</style>

<script>

    var msg = '@message';

    if (msg)

        alert(msg);

</script>

@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()

    <div class="divLogin">

        <h2 class="text-center">Correspondence</h2>

        <hr />



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })











        <div id="tab1">
            <table id="formtable">

                <tr>

                    <td>@Html.LabelFor(m => m.CustomerName, new { @class = "control-label" })</td>

                    <td>@Html.EditorFor(m => m.CustomerName, new { htmlAttributes = new { @class = "form-control" } })</td>

                </tr>

                <tr>

                    <td>@Html.LabelFor(m => m.CustomerSurname, new { @class = "control-label" })</td>

                    <td>@Html.EditorFor(m => m.CustomerSurname, new { htmlAttributes = new { @class = "form-control" } })</td>

                </tr>

                <tr>

                    <td>@Html.LabelFor(m => m.Email, new { @class = "control-label" })</td>

                    <td>@Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })</td>

                </tr>



                <tr>

                    <td>@Html.LabelFor(m => m.IdNumber, new { @class = "control-label" })</td>

                    <td>@Html.EditorFor(m => m.IdNumber, new { htmlAttributes = new { @class = "form-control" } })</td>

                </tr>

                <tr>

                    <td>@Html.LabelFor(m => m.PassportNumber, new { @class = "control-label" })</td>

                    <td>@Html.EditorFor(m => m.PassportNumber, new { htmlAttributes = new { @class = "form-control" } })</td>

                </tr>



                <tr>

                    <td>@Html.LabelFor(m => m.CellphoneNumber, new { @class = "control-label" })</td>

                    <td>@Html.EditorFor(m => m.CellphoneNumber, new { htmlAttributes = new { @class = "form-control" } })</td>

                </tr>
                <tr></tr>
                <tr></tr>

                <tr>

                    <td>@Html.LabelFor(m => m.PhysicalAddress, new { @class = "control-label" })</td>

                    <td>

                        @Html.EditorFor(m => m.PhysicalAddress, new { htmlAttributes = new { @class = "form-control" } })

                    </td>

                </tr>

                <tr>

                    <td></td>

                    <td>

                        @Html.EditorFor(m => m.PhysicalAddressLine2, new { htmlAttributes = new { @class = "form-control" } })

                    </td>

                </tr>

                <tr>

                    <td></td>

                    <td>

                        @Html.EditorFor(m => m.PhysicalPostalCode, new { htmlAttributes = new { @class = "form-control" } })

                    </td>

                </tr>
                <tr></tr>
                <tr></tr>

                <tr>

                    <td>@Html.LabelFor(m => m.PostalAddress, new { @class = "control-label" })</td>

                    <td>

                        @Html.EditorFor(m => m.PostalAddress, new { htmlAttributes = new { @class = "form-control" } })

                    </td>

                </tr>

                <tr>

                    <td></td>

                    <td>

                        @Html.EditorFor(m => m.PostalAddressLine2, new { htmlAttributes = new { @class = "form-control" } })

                    </td>

                </tr>

                <tr>

                    <td></td>

                    <td>

                        @Html.EditorFor(m => m.PostalAddressCode, new { htmlAttributes = new { @class = "form-control" } })

                    </td>

                </tr>

            </table>
            <table id="SubmitPane">


                <tr>

                    <td>@Html.ActionLink("Back to Menu", "Index", "Home", null, new { @class = "btn btn-default" })</td>

                    <td><button type="button" onclick="$('#tab1').addClass('hidden');$('#tab2').removeClass('hidden');" class="btn btn-default">Next</button></td>

                </tr>

            </table>


        </div>

        <div id="tab2" class="hidden">
            <table id="formtable">
                <tr>

                    <td>  @Html.LabelFor(model => model.TypeId, htmlAttributes: new { @class = "control-label col-md-2" })</td>

                    <td>

                        @Html.DropDownList("TypeId", null, htmlAttributes: new { @class = "form-control" })

                    </td>

                </tr>

                <tr>

                    <td> @Html.LabelFor(model => model.ReasonId, htmlAttributes: new { @class = "control-label col-md-2" })</td>

                    <td>

                        @Html.DropDownList("ReasonId", null, htmlAttributes: new { @class = "form-control" })

                    </td>

                </tr>


                <tr>

                    <td>  @Html.LabelFor(model => model.UnitId, htmlAttributes: new { @class = "control-label col-md-2" })</td>

                    <td>

                        @Html.DropDownList("UnitId", null, htmlAttributes: new { @class = "form-control" })

                    </td>

                </tr>

                <tr>

                    <td>@Html.LabelFor(m => m.Details, new { @class = "control-label" })</td>
                    <td>
                        @Html.TextAreaFor(model => model.Details, new { @class = "form-control", @sytle = "border-radius: 10px;width:80%; height:200px;" })
                    </td>

                </tr>

                <tr>

                    <td>@Html.LabelFor(m => m.Documents, new { @class = "control-label" })</td>

                    <td><input type="file" name="Documents" class="form-control" /></td>

                </tr>


            </table>
            <table id="SubmitPane">


                <tr>

                    <td><button type="button" onclick="$('#tab2').addClass('hidden');$('#tab1').removeClass('hidden');" class="btn btn-default">Back</button></td>

                    <td><button type="submit" value="Save" class="btn btn-default">Save</button></td>

                </tr>

            </table>


        </div>




    </div>

    @section Scripts {

        @Scripts.Render("~/bundles/jqueryval")

    }

}

<div>



</div>