﻿@model eServices.Models.CorrespondenceCustomer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerDetails</title>
</head>
<body>
    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerSurname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerSurname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
          
    
            <dt>
                @Html.DisplayNameFor(model => model.IdNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdNumber)
            </dd>
    
        
    
            <dt>
                @Html.DisplayNameFor(model => model.CellphoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CellphoneNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhysicalAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhysicalAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhysicalAddressLine2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhysicalAddressLine2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhysicalPostalCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhysicalPostalCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostalAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostalAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostalAddressLine2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostalAddressLine2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostalAddressCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostalAddressCode)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
