﻿@model eServices.Models.Correspondence

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Correspondence</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CorrespondenceCustomer.CustomerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CorrespondenceCustomer.CustomerName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CorrespondenceReason.CorrespondenceReasonName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CorrespondenceReason.CorrespondenceReasonName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MunicipalUnit.MunicipalUnitName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MunicipalUnit.MunicipalUnitName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CorrespondenceDocument.Documents)
            </dt>
    
            <dd>
                @*@Html.DisplayFor(model => model.Documents)*@
               <img src="@Model.CorrespondenceDocument.Documents"/>
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CorrespondenceId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
