﻿@model IEnumerable<eServices.Models.Correspondence>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorrespondenceCustomer.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrespondenceReason.CorrespondenceReasonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MunicipalUnit.MunicipalUnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorrespondenceCustomer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrespondenceReason.CorrespondenceReasonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MunicipalUnit.MunicipalUnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.ActionLink("Customer Details", "CustomerDetails", new { id = item.CustomerId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CorrespondenceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CorrespondenceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CorrespondenceId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
