﻿@using eServices.Models
@{
    BusinessLogic bl = new BusinessLogic();


}
<style>
    #formtable {
        width: 70%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
        margin-left: 30%;
        margin-top: 5%;
    }

    #tdBord {
        border-right: hidden;
        border-top: hidden;
        border-bottom: hidden;
    }

    .back {
        position: relative;
        left: 78%;
    }
</style>

<script>

    //function Populate() {
    //    var btn = document.getElementById('Editbtn');
    //}

    function getAccount(id) {
        $.get("/LinkedAccounts/getAccount/" + id, function (data) {
            document.getElementById('accNo').value = data.AccountNumber;
            document.getElementById('accStatus').value = data.AccountStatus;
            document.getElementById('UnlinkBtn').className = 'btn btn-default';

        });

    }

    function changeBtnText()
    {
        var elem = document.getElementById("btnSubmit"),
       text = elem.textContent || elem.innerText;

        if (text == "Inactive") {
            elem.innerHTML = "Re-link account";
        }
        else if (text == "Active") {
            elem.innerHTML = "Unlink account";
        }
        else {
            elem.disabled = true;
        }
    }
</script>

<h4 style="position:center;left:30%;margin-top:5%;font-weight:bold">List of Linked Accounts</h4>

@using (Html.BeginForm("UnlinkAccount", "LinkedAccounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table table-bordered table-striped">
        <tr>
            <td>Account Number</td>
            <td>Status</td>
            <td>Date Created</td>
            <td></td>
            <td></td>
        </tr>
        @{



            foreach (var e in bl.CustomerAccounts(User.Identity.Name))
            {
                <tr>
                    <td>@e.AccountNumber</td>
                    <td>@e.AccountStatus</td>
                    <td>@e.DateCreated</td>
                    <td id="tdBord">
                        <button id="btnSubmit" type="submit" class="btn btn-default" name="AccountId" onclick="return confirm('Are you sure you want to unlink this account: @e.AccountNumber?'); changeBtnText()" value="@e.AccountId">Unlink Account</button>
                        @*<button type="submit" name="AccId" value="@e.AccountId"  class="btn btn-default" onclick="getAccount('@e.AccountId');">Edit</button>*@
                    </td>
                    <td>
                        <button class="btn btn-default" data-toggle="modal" data-target="#@e.AccountId">Manage Emails</button>

                    </td>
                </tr>
                
            }

        }



    </table>
            }

@*<table id="formtable">
        <tr>
            <th>@Html.Label("First Name", new { @class = "control-label" })</th>
            <td>
                <input type="text" name="CustomerName" class="form-control" value="@bl.Customer(User.Identity.Name).CustomerName" readonly />
            </td>
        </tr>
        <tr>
            <th>@Html.Label("Last Name", new { @class = "control-label" })</th>
            <td><input type="text" name="CustomerSurname" class="form-control" value="@bl.Customer(User.Identity.Name).CustomerSurname" readonly /></td>
        </tr>
        <tr>
            <th>@Html.Label("Account Number", new { @class = "control-label" })</th>
            <td>
                <input type="text" name="AccountNumber" class="form-control" id="accNo" readonly />
            </td>


        </tr>
        <tr>
            <th>@Html.Label("Account Status", new { @class = "control-label" })</th>
            <td>
                <input type="text" name="AccountStatus" class="form-control" id="accStatus" readonly />

            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <span>
                    <button class="btn btn-default disabled" id="UnlinkBtn">Unlink Account</button>
                </span>
            </td>
            <td></td>
        </tr>
    </table>*@

<p style="text-align:center;margin-top:10%">
    @Html.ActionLink("View Bills", "ViewBills", "LinkedAccounts", new { @class = "btn btn-default" })
</p>
<p><a href="~/Home/Index" class="btn btn-default">Back To Menu</a></p>

@{

    foreach (var a in bl.CustomerAccounts(User.Identity.Name))
    {
        <div class="modal fade" id="@a.AccountId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Account Email</h5>
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>*@
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            @using (Html.BeginForm("AddOrDelete", "LinkedAccounts", FormMethod.Post))
                            {

                                @Html.AntiForgeryToken()
                                <input type="text" name="AccountId" value="@a.AccountId" hidden />
                                    <table style="margin:auto">
                                        <tr>
                                            <td>
                                                @Html.Label("Linked Emails", htmlAttributes: new { @class = "control-label" })
                                            </td>
                                            <td>
                                                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", required = "required", type = "email" } })
                                            </td>
                                            <td>
                                                <button type="submit" name="action" value="Add" class="btn btn-default">Add</button>
                                            </td>
                                        </tr>
                                    </table>
                            }
                        </div>

                        <br />
                        <p><b>List of Linked Emails</b></p>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Email</th>

                            </tr>

                            @{
                                foreach (var e in bl.CustomerAccountEmails(a.AccountId))
                                {
                                    using (Html.BeginForm("AddOrDelete", "LinkedAccounts", FormMethod.Post))
                                    {
                                        if (e.EmailStatus != "Inactive")
                                        {
                                        @Html.AntiForgeryToken()
                                        <tr>
                                            <td style="display:none"><input type="text" name="AccountId" value="@e.EmailId" /></td>
                                            <td>@e.LinkedEmail</td>
                                            <td id="tdBord">
                                                <span><button type="submit" class="btn btn-default" name="action" value="Delete" onclick="return confirm('Are you sure you want to remove this linked email: @e.LinkedEmail?');">Remove</button></span>
                                            </td>
                                        </tr>
                                            }
                                        }
                                    }
                                }
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
                                }
}




