﻿@model eServices.Models.LinkedAccount
@*@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@using eServices.Models
@{
    ViewBag.Title = "Create";
    var message = TempData["AlertMessage"] ?? string.Empty;
    BusinessLogic bl = new BusinessLogic();
    Layout = "~/Views/SHared/_Customer.cshtml";
}

<style>
    #formtable {
        width: 80%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
        margin-left: 30%;
        margin-top: 5%;
    }

    #tdBord {
        border-right: hidden;
        border-top: hidden;
        border-bottom: hidden;
    }

    .back {
        position: relative;
        left: 78%;
    }
</style>

<script>

    //function Populate() {
    //    var btn = document.getElementById('Editbtn');
    //}

    function getAccount(id) {
        $.get("/LinkedAccounts/getAccount/" + id, function (data) {
            document.getElementById('accNo').value = data.AccountNumber;
            document.getElementById('accStatus').value = data.AccountStatus;
            document.getElementById('UnlinkBtn').className = 'btn btn-default';

        });

    }

    function changeBtnText() {
        var elem = document.getElementById("btnSubmit"),
       text = elem.textContent || elem.innerText;

        if (text == "Inactive") {
            elem.innerHTML = "Re-link account";
        }
        else if (text == "Active") {
            elem.innerHTML = "Unlink account";
        }
        else {
            elem.disabled = true;
        }
    }
</script>

<script>
    var msg = '@message';
    if (msg)
        alert(msg)
</script>

<script>
    function AccountDetails() {



        var AccountNumber = $("#accno").val();
        var Email = $("#emailtxt").val();
        if (Email != "" && AccountNumber != "") {
            $.post("/LinkedAccounts/LinkAccount/", { AccountNumber: AccountNumber, Email: Email }, function (data) {
                AppendEmail(data);
                document.getElementById('emailtxt').value = "";
                //document.getElementById('h6Acc').innerHTML = "Account Number:" + accNo;
                document.getElementById('submit').className = 'btn btn-default';
            });

        }


    }
</script>

<script>
    var count = 0;
    function AppendEmail(email) {
        $("#Emails").removeClass("hidden");
        var element = document.createElement("li");
        var deleteicon = document.createElement("span");
        deleteicon.className = 'glyphicon glyphicon-trash';

        deleteicon.id = count;
        element.id = count;


        deleteicon.addEventListener("click", function () {
            $.post("/LinkedAccounts/DeleteLinkEmail/", { Email: element.textContent });
            document.getElementById('items').removeChild(element);

        });

        element.innerText = email;
        element.appendChild(deleteicon);
        document.getElementById("items").appendChild(element);
        count = count + 1;
    }


</script>




<style>
    .divLogin {
        position: relative;
        margin-left: 30%;
        width: 60%;
        height: 500px;
        overflow-y: auto;
        background-color: white;
        margin-top: 80px;
        padding: 10px;
    }

    .divLogininner {
        margin: auto;
        left: 25%;
        position: relative;
    }

    .glyphicon {
        font-size: 10px;
    }
</style>

<div class="form-horizontal divLogin">
    <h3 class="text-center">Account Emails</h3>
    <p style="text-align:center">Account Number: <b>@ViewBag.accid</b></p>
    <div class="text-center">

    </div>
    <br />
    <br />
    @using (Html.BeginForm("AccountEmails", "LinkedAccounts", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <p style="text-align:center">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "w3-border w3-padding", @placeholder = "Search Email", @style = "width:200px" })
            <button style="margin-left:5px" type="submit" class="btn btn-primary" name="action" value="search">Search <i class="glyphicon glyphicon-search" style="color:limegreen"></i> </button>
            <a onclick="location.href = '/LinkedAccounts/Create'" style="margin-left:5px;" class="btn btn-primary">Clear Search <i class="glyphicon glyphicon-refresh" style="color:limegreen"></i> </a>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLoginForm">
                Link New Email <i class="glyphicon glyphicon-plus" style="color:limegreen"></i>
            </a>
        </p>


        <table class="table table-bordered table-striped" style="width:100%">
            <tr>
                <th>Email</th>
                <th></th>
            </tr>

            @{
                foreach (var item in bl.CustomerAccountEmails(Model.AccountId))
                {
                    if(item.EmailStatus=="Active")
                    {
                        <tr>
                            <td>@item.LinkedEmail</td>
                            <td><button class="btn btn-danger">Remove</button></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@item.LinkedEmail</td>
                            <td><button class="btn btn-primary">Relink</button></td>
                        </tr>
                    }
                }
            }

        </table>
                                    }
    <p style="text-align:center">
        @Html.ActionLink("Back To Accounts", "Create", "LinkedAccounts", new { @class = "btn btn-primary" })
    </p>
</div>















