﻿@model PagedList.IPagedList<eServices.Models.LinkedAccount>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using eServices.Models


@{
    ViewBag.Title = "Create";
    var message = TempData["AlertMessage"] ?? string.Empty;
    BusinessLogic bl = new BusinessLogic();
    Layout = "~/Views/Shared/_Customer.cshtml";
}
<style>
    #tableEmail {
        overflow-y: auto;
        height: 100px;
    }

        #tableEmail thead th {
            position: sticky;
            top: 0;
        }
</style>

<style>
    #formtable {
        width: 80%;
        border-collapse: separate border-spacing: 0 5px;
        font-size: 12.5px;
        margin-left: 30%;
        margin-top: 5%;
    }

    #tdBord {
        border-right: hidden;
        border-top: hidden;
        border-bottom: hidden;
    }

    .back {
        position: relative;
        left: 78%;
    }
</style>




<style>
    .divLogin {
        margin: auto;
       
        width: 70%;
        height: 100%;
        background-color: white;
        border: solid lightgray;
        margin-top: 5%;
        padding: 20px;
        margin-left:25%;
    }

    .divLogininner {
        margin: auto;
        left: 25%;
        position: relative;
    }

    .glyphicon {
        font-size: 10px;
    }
</style>

<div class="form-horizontal divLogin">
    <div class="text-center">
        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">
            Click Here to Link an Account

        </a>
    </div>
    <br />
    <br />
    @using (Html.BeginForm("Create", "LinkedAccounts", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <p style="text-align:center">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "w3-border w3-padding", @placeholder = "Search Account", @style = "width:200px" })
            <button style="margin-left:5px" type="submit" class="btn btn-primary" name="action" value="search">Search <i class="glyphicon glyphicon-search" style="color:limegreen"></i> </button>
            <a onclick="location.href = '/LinkedAccounts/Create'" style="margin-left:5px;" class="btn btn-primary">Clear Search <i class="glyphicon glyphicon-refresh" style="color:limegreen"></i> </a>
        </p>

        <table class="table table-bordered table-striped" style="margin:auto; width:100%" align="center">
            <thead><b>List of Linked Accounts</b></thead>
            <tr>
                <th>
                    @Html.ActionLink("Account Number", "Create", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }) <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th>
                    @Html.ActionLink("Status", "Create", new { sortOrder = ViewBag.StatusSortParam, currentFilter = ViewBag.CurrentFilter }) <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th>
                    @Html.ActionLink("Date Created", "Create", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }) <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th></th>
                <th></th>
            </tr>

            @{
                foreach (var item in Model)
                {
                    if (item.AccountStatus != "Rejected")
                    {
                        <tr>
                            <td>@item.AccountNumber</td>
                            <td>@item.AccountStatus</td>
                            <td>@item.DateCreated</td>
                            <td>
                                <input type="text" name="ManageEmailsId" value="@item.AccountId" hidden />
                                @{
                                    if (item.AccountStatus == "Inactive")
                                    {

                                        <button class="btn btn-default" name="action" value="unlink" data-toggle="modal" data-target="#@string.Concat(item.AccountNumber, "relink").Trim()">Relink Account</button>

                                    }
                                    else if (item.AccountStatus == "Active")
                                    {
                                        <button class="btn btn-default" name="action" value="unlink" data-toggle="modal" data-target="#@item.AccountNumber">Unlink Account</button>

                                    }
                                    else
                                    {

                                    }
                                }

                            </td>
                            <td>
                                @if (item.AccountStatus == "Active")
                                {
                                    @*@Html.ActionLink("Create", "Create", "linkedAccountEmails", new { id = item.AccountId }, null)*@
                                    <a href="~/LinkedAccounts/ManageEmails/@item.AccountId" class="btn btn-primary">Manage Emails</a>
                                }
                            </td>
                        </tr>
                                        }
                                    }
            }

        </table>
        <span>
            @bl.getLinkedAccounts().Count Total amount of record(s) in the table - Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </span>
        <span style="margin-left:5%">
            @Html.PagedListPager(Model, page => Url.Action("Create", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </span>
                                    }
    <p style="text-align:center">
        @Html.ActionLink("View Bills", "ViewBills", "LinkedAccounts", new { @class = "btn btn-default" })
    </p>
    <p><a href="~/Home/Index" class="btn btn-default">Back To Menu</a></p>
</div>

@{
    foreach (var item in Model)
    {
        using (Html.BeginForm("UnlinkAccount", "LinkedAccounts", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal fade" id="@item.AccountNumber" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="modal-dialog" style="border:none;" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center" style="border:none;">
                            <input type="text" name="AccountId" value="@item.AccountId" hidden />
                            <h4 class="modal-title w-100 font-weight-bold"> Are you sure you want to unlink account: @item.AccountNumber?</h4>
                           
                        </div>
                        <div class="modal-footer d-flex justify-content-center" style="border:none;">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="Yes" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    }

}

@{
    foreach (var item in Model)
    {
        using (Html.BeginForm("RelinkAccount", "LinkedAccounts", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal fade" id="@string.Concat(item.AccountNumber, "relink").Trim()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="modal-dialog" role="document" style="border:none;">
                    <div class="modal-content">
                        <div class="modal-header text-center" style="border:none;">
                            <input type="text" name="AccountId" value="@item.AccountId" hidden />
                            <h4 class="modal-title w-100 font-weight-bold"> Are you sure you want to relink account: @item.AccountNumber?</h4>
                           
                        </div>
                        <div class="modal-footer d-flex justify-content-center" style="border:none;">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="Yes" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    }

}


@using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", id = "CreateAccount" }))
{
    @Html.AntiForgeryToken()

    <div class="divLogininner">

        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="align-content:center">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center" style="border:none;">
                        <h4 class="modal-title w-100 font-weight-bold">Link Account</h4>
                       
                    </div>


                    <table style="margin:auto; width:auto" align="center">
                        <tr id="idAlert" style="display:none">
                            <td colspan="2" id="idDanger" style="display:none">
                                <div class="alert alert-danger">
                                    <p class="col-md-12" id="idTr">
                                    </p>
                                </div>
                            </td>
                            <td colspan="2" id="idSuccess" style="display:none">
                                <div class="alert alert-success">
                                    <p class="col-md-12">Account Link Request Received. You will receive an email once the account has been verified</p>
                                </div>
                            </td>

                            <td colspan="2" id="idVal" style="display:none">
                                <div class="alert alert-danger">
                                    <p class="col-md-12" id="idVal" style="width:200px">
                                        Please enter a  valid account number
                                    </p>
                                </div>
                            </td>

                        </tr>
                    </table>
                    <div class="modal-body" style="border:none;">


                        <table align="center" style="margin:auto; width:auto">

                            <tr class="form-group">
                                <td> @Html.Label("Account Number  ", htmlAttributes: new { @class = "control-label" }) <span style="color: red; margin-left:20px; margin-top:-50px"> *</span><span style="color: red;visibility:hidden">*</span></td>
                                <td>
                                    @Html.Editor("AccountNumber", new { htmlAttributes = new { @class = "form-control", id = "accno", @required = "required", @onchange = "checkAccount();", @onfocus = "ClearAlert()", onkeypress = "return isNumber(event)" } })<br />
                                </td>

                            </tr>
                            <tr>
                                <td>@Html.Label("Upload Document", htmlAttributes: new { @class = "control-label col-md-12" })<span style="color: red;visibility:hidden">*</span></td>

                                <td>
                                    @*<input type="text" class="form-control" id="emailtxt" />*@
                                    <input type="file" name="file" class="form-control" id="upload" title="Upload Document field is required." /><br />

                                </td>

                            </tr>


                        </table>

                    </div>


                    <div class="modal-footer d-flex justify-content-center" style="border:none;">

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" id="submit" value="Submit" class="btn btn-default" onclick="onSuccess()" />
                                <span><button type="reset" class="btn btn-default"  id="clear">Reset</button></span>

                                <button type="button" class="btn btn-default" onclick="location.reload()" aria-label="Close">Close</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
}


@{

    foreach (var a in bl.CustomerAccounts(User.Identity.Name))
    {
        <div class="modal fade" id="@a.AccountId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Add email address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <table style="margin:auto; width:auto" align="center">
                            <tr id="idAlert" style="display:none">
                                <td colspan="2" id="idDanger" style="display:none">
                                    <div class="alert alert-danger" style="align-content:center">
                                        <p class="col-md-12" id="idTr">
                                        </p>
                                    </div>
                                </td>
                                <td colspan="2" id="idSuccess" style="display:none">
                                    <div class="alert alert-success">
                                        <p class="col-md-12">The email saved successfully</p>
                                    </div>
                                </td>
                            </tr>
                        </table>


                        @*<div class="form-group">
                                <input type="text" id="AccountId" value="@a.AccountId" hidden />


                                            @Html.Label("Email Address", htmlAttributes: new { @class = "control-label" })

                                            @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", required = "required", type = "email", @placeholder = "Enter email address to receive bill", id = "Email" } })

                                <button type="button" class="btn btn-default" id="AddEmail">Add</button>

                            </div>*@

                        <div class="form-group">
                            <input type="text" id="AccountId" value="@a.AccountId" hidden />

                            @Html.Label("Email Address", htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control col-md-10", required = "required", type = "email", @placeholder = "Enter email address to receive bill", id = "Email" } })
                            <button type="button" class="btn btn-default col-md-2" id="AddEmail">Add</button>
                        </div>


                        <br />
                        <input type="hidden" name="AccountId" />
                        <h2>List of Linked Emails</h2>
                        <table id="tableEmail" class="table table-bordered table-striped" style="margin:auto; width:100%" align="center">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody style="max-height:100px"></tbody>
                        </table>

                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    } }

@{
    foreach (var item in bl.CustomerAccounts(User.Identity.Name))
    {
        using (Html.BeginForm("AddOrDelete", "LinkedAccounts", FormMethod.Post, new { id = "SubscribeCommand" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Linking email account</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3 text-center">
                            <input type="hidden" name="AccountNumber" class="SubscribeAcc" />
                            <input type="hidden" name="LinkedEmail" class="SubscribeEmail" />
                            <p>
                                Are you sure you want to subscribe email: <span id="SubscribeEmail"></span>  linked with account: <span id="SubscribeAcc"></span>?
                            </p>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input onclick="SubscribeCommand()" value="Yes" type="button" class="btn btn-default" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        }


        using (Html.BeginForm("AddOrDelete", "LinkedAccounts", FormMethod.Post, new { id = "UnsubscribeCommand" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal fade" id="modalUnsubscribe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Unlinking email account</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3 text-center">
                            <input type="hidden" name="AccountNumber" class="UnsubscribeAcc" />
                            <input type="hidden" name="LinkedEmail" class="UnsubscribeEmail" />
                            <p>
                                Are you sure you want to unsubscribe email: <span id="UnsubscribeEmail"></span>  linked with account: <span id="UnsubscribeAcc"></span>?
                            </p>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input onclick="UnsubscribeCommand()" value="Yes" type="button" class="btn btn-default" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        }

    }


}

@section Scripts {

    <script>

        function Fetch(id) {
            var accountid = id;
            alert(accountid);
            $.ajax({
                url: "/LinkedAccounts/FetchResults",
                type: "POST",
                dataType: "json",
                data: ({
                    AccountId: accountid,

                }),
                success: (data) => {

                    //debugger;

                    //let d = JSON.parse(data);

                    console.log(data);

                    let d = JSON.parse(data.results);

                    //if (data.length > 0) {

                    //$.each(data, function (i, item) {


                    //});
                    //data = JSON.parse(data);
                    //alert(data);
                    $('#tableEmail tbody').toggle(1000);
                    $('#tableEmail tbody').empty();

                    d.forEach(element=> {

                        $('#tableEmail tbody').append('<tr><td>' + element.LinkedEmail + '</td>' + '<td>' + element.EmailStatus + '</td></tr>');
                    });

                    $('#tableEmail tbody').toggle(1000);

                    //$("#tableEmail").append('<tr><td>' + "a@yahoo.com" + '</td></tr>' + '<tr><td>' + "Active" + '</td></tr>');


                    // }
                }
            });
        }


    </script>

    <script>

        $("#AddEmail").click(function () {
            debugger;
            var accountid = $("#AccountId").val();
            var email = $("#Email").val();
            var command = "Add";
            $.ajax({
                url: "/LinkedAccounts/AddOrDelete",
                type: "POST",
                dataType: "json",
                data: ({
                    AccountId: accountid,
                    Email: email,
                    command: command
                }),
                success: (data) => {

                    //debugger;

                    //let d = JSON.parse(data);

                    console.log(data);

                    let d = JSON.parse(data.results);

                    //if (data.length > 0) {

                    //$.each(data, function (i, item) {


                    //});
                    //data = JSON.parse(data);
                    //alert(data);
                    $('#tableEmail tbody').toggle(1000);
                    $('#tableEmail tbody').empty();

                    d.forEach(element=> {

                        $('#tableEmail tbody').append('<tr><td>' + element.LinkedEmail + '</td>' + '<td>' + element.EmailStatus + '</td></tr>');
                    });

                    $('#tableEmail tbody').toggle(1000);

                    //$("#tableEmail").append('<tr><td>' + "a@yahoo.com" + '</td></tr>' + '<tr><td>' + "Active" + '</td></tr>');


                    // }
                }
            });
        })


    </script>


    <script>


        function UnsubscribeCommand() {
            $.post("/LinkedAccounts/UnsubscribeEmail/", $("#UnsubscribeCommand").serialize(), function (data) {
                if (data == "Error") {
                    alert(false);
                }
                else {
                    $("#modalUnsubscribe").hide();
                }
            });
        }

        function SubscribeCommand() {
            $.post("/LinkedAccounts/SubscribeEmail/", $("#SubscribeCommand").serialize(), function (data) {
                if (data == "Error") {
                    alert(false);
                }
                else {
                    $("#modalSubscribe").hide();
                }
            });
        }

        function Subscribe(id, acc) {
            $('#modalSubscribe').modal('show');
            $('.SubscribeEmail').val(id);
            $('.SubscribeAcc').val(acc);

            $('#SubscribeEmail').text(id);
            $('#SubscribeAcc').text(acc);
        }

        function Unsubscribe(id, acc) {
            $('#modalUnsubscribe').modal('show');
            $('.UnsubscribeEmail').val(id);
            $('.UnsubscribeAcc').val(acc);

            $('#UnsubscribeEmail').text(id);
            $('#UnsubscribeAcc').text(acc);
        }

        $(document).ready(function () {
            function alignModal() {
                var modalDialog = $(this).find(".modal-dialog");
                /* Applying the top margin on modal dialog to align it vertically center */
                modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
            }
            // Align modal when it is displayed
            $(".modal").on("shown.bs.modal", alignModal);

            // Align modal when user resize the window
            $(window).on("resize", function () {
                $(".modal:visible").each(alignModal);
            });
        });
    </script>

    <script>

        //function Populate() {
        //    var btn = document.getElementById('Editbtn');
        //}

        function getAccount(id) {
            $.get("/LinkedAccounts/getAccount/" + id, function (data) {
                document.getElementById('accNo').value = data.AccountNumber;
                document.getElementById('accStatus').value = data.AccountStatus;
                document.getElementById('UnlinkBtn').className = 'btn btn-default';

            });

        }

        function changeBtnText() {
            var elem = document.getElementById("btnSubmit"),
           text = elem.textContent || elem.innerText;

            if (text == "Inactive") {
                elem.innerHTML = "Re-link account";
            }
            else if (text == "Active") {
                elem.innerHTML = "Unlink account";
            }
            else {
                elem.disabled = true;
            }
        }
    </script>

    <script>
        $('#clear').click(function () {

            document.getElementById("idTr").style.display = 'none';
            document.getElementById("idSuccess").style.display = 'none';
            document.getElementById("idDanger").style.display = 'none';


        })


    </script>


    <script>
    @*var msg = '@message';
    if (msg)
        alert(msg)*@

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                document.getElementById("idTr").innerText = "Enter numbers only ";
                return false;
            }

            return true;
        }


        function onSuccess() {
            document.getElementById("idAlert").style.display = 'none';
            document.getElementById("idDanger").style.display = 'none';
            document.getElementById("idSuccess").style.display = 'none';

            var form = $('#CreateAccount')[0];
            var data = new FormData(form);
            $.ajax({
                url: "/LinkedAccounts/Create1",
                type: 'POST',
                data: data,
                success: function (data) {

                    $("#idSuccess").visible;
                    document.getElementById("idAlert").style.display = 'block';
                    document.getElementById("idSuccess").style.display = 'block';
                    document.getElementById("idDanger").style.display = 'none';

                    $("idDanger").hide();
                    $("idAlert").show();
                    $("idSuccess").show();

                    $("#CreateAccount")[0].reset();
                },

                cache: false,
                contentType: false,
                processData: false
            });
        }

        function checkAccount() {
            $.get("/LinkedAccounts/getAccountNo/", { acc: $('#accno').val() },
                function (data) {
                    if (data != "") {
                        if (data == "Active") {
                            document.getElementById("submit").style.display = 'none';
                            document.getElementById("idAlert").style.display = 'block';
                            document.getElementById("idTr").style.display = 'block';
                            document.getElementById("idDanger").style.display = 'block';
                            document.getElementById("idSuccess").style.display = 'none';
                            document.getElementById("idTr").innerText = "The account number entered is currently Active";
                        }
                        else if (data == "Inactive") {
                            document.getElementById("submit").style.display = 'none';
                            document.getElementById("idAlert").style.display = 'block';
                            document.getElementById("idTr").style.display = 'block';
                            document.getElementById("idDanger").style.display = 'block';
                            document.getElementById("idSuccess").style.display = 'none';
                            document.getElementById("idTr").innerText = "The account number entered is currently Inactive";
                        }
                        else if (data == "Rejected") {
                            document.getElementById("submit").style.display = 'none';
                            document.getElementById("idAlert").style.display = 'block';
                            document.getElementById("idTr").style.display = 'block';
                            document.getElementById("idDanger").style.display = 'block';
                            document.getElementById("idSuccess").style.display = 'none';
                            document.getElementById("idTr").innerText = "The account number entered is currently Blocked";
                        }
                        else if (data == "Awaiting Verification") {
                            document.getElementById("submit").style.display = 'none';
                            document.getElementById("idAlert").style.display = 'block';
                            document.getElementById("idTr").style.display = 'block';
                            document.getElementById("idDanger").style.display = 'block';
                            document.getElementById("idSuccess").style.display = 'none';
                            document.getElementById("idTr").innerText = " The account number entered is currently awaiting approval on your account. You will receive an email once the account has been verified"
                        }
                        else if (data == "NotFound") {
                            document.getElementById("submit").style.display = 'none';
                            document.getElementById("idAlert").style.display = 'block';
                            document.getElementById("idTr").style.display = 'block';
                            document.getElementById("idDanger").style.display = 'block';
                            document.getElementById("idSuccess").style.display = 'none';
                            document.getElementById("idTr").innerText = "Please enter a  valid account number";
                        }
                        else {
                            document.getElementById("idAlert").style.display = 'none';
                            document.getElementById("idTr").style.display = 'none';
                            document.getElementById("idDanger").style.display = 'none';
                            document.getElementById("submit").style.display = 'inline';
                        }
                    }
                    else {
                        document.getElementById("idAlert").style.display = 'none';
                        document.getElementById("idTr").style.display = 'none';
                        document.getElementById("idDanger").style.display = 'none';
                        document.getElementById("idSuccess").style.display = 'none';
                        document.getElementById("submit").style.display = 'inline';
                    }
                    $(".divLogininner")[0].reset();
                });
        }





        $(document).ready(function () {
            $("form").submit(function () {
                if (ViewBag.message != null) {
                    accno = $("input[name='fname']").val();

                }

                return false;
            })
        });


    </script>

    <script>
        function AccountDetails() {



            var AccountNumber = $("#accno").val();
            var Email = $("#emailtxt").val();
            if (Email != "" && AccountNumber != "") {
                $.post("/LinkedAccounts/LinkAccount/", { AccountNumber: AccountNumber, Email: Email }, function (data) {
                    AppendEmail(data);
                    document.getElementById('emailtxt').value = "";
                    //document.getElementById('h6Acc').innerHTML = "Account Number:" + accNo;
                    document.getElementById('submit').className = 'btn btn-default';
                });

            }


        }
    </script>

    <script>
        var count = 0;
        function AppendEmail(email) {
            $("#Emails").removeClass("hidden");
            var element = document.createElement("li");
            var deleteicon = document.createElement("span");
            deleteicon.className = 'glyphicon glyphicon-trash';

            deleteicon.id = count;
            element.id = count;


            deleteicon.addEventListener("click", function () {
                $.post("/LinkedAccounts/DeleteLinkEmail/", { Email: element.textContent });
                document.getElementById('items').removeChild(element);

            });

            element.innerText = email;
            element.appendChild(deleteicon);
            document.getElementById("items").appendChild(element);
            count = count + 1;
        }


    </script>

}





