﻿@model eServices.Models.LinkedAccount
@*@using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@using eServices.Models
@{
    Layout = "~/Views/Shared/_Customer.cshtml";
    ViewBag.Title = "Create";
    var message = TempData["AlertMessage"] ?? string.Empty;
    BusinessLogic bl = new BusinessLogic();
}

<style>
    #formtable {
        width: 80%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
        margin-left: 30%;
        margin-top: 5%;
    }

    #tdBord {
        border-right: hidden;
        border-top: hidden;
        border-bottom: hidden;
    }

    .back {
        position: relative;
        left: 78%;
    }
</style>





<style>
    .divLogin {
        position: relative;
        margin-left: 30%;

        width: 60%;
        height: 500px;
       
        background-color: white;
        margin-top:80px;
        padding: 10px;
    }

    /*.divLogininner {
        margin: auto;
        left: 25%;
        position: relative;
    }*/

    .glyphicon {
        font-size: 10px;
    }
</style>

<div class="form-horizontal divLogin">

    <div class="text-center">

        <table style="margin:auto; width:auto" align="center">
            <tr id="idAlert" style="display:none">
                <td colspan="2" id="idDanger" style="display:none">
                    <div class="alert alert-danger" style="align-content:center">
                        <span class="col-md-12" id="idTr">
                        </span>
                    </div>
                </td>
                <td colspan="2" id="idSuccess" style="display:none">
                    <div class="alert alert-success">
                        <p class="col-md-12">Email linked successfully</p>
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            @using (Html.BeginForm("LinkEmail", "LinkedAccounts", FormMethod.Post, new { @enctype = "multipart/form-data", id = "CreateEmail" }))
            {

                @Html.AntiForgeryToken()

                <h3 class="text-center">Please Enter Your Email Address Below to Receive your Bill for Account No: @Model.AccountNumber by Email</h3><br />
                <table style="margin:auto; width:auto" class="text-center">

                    <caption><input type="hidden" id="AccountId" name="accno" value="@Model.AccountId" /></caption>
                    <tr>
                        <td>
                            @Html.Label("Email Address", htmlAttributes: new { @class = "control-label" })
                        </td>
                        <td>
                            @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", type = "email", @onfocusout = "ValidateEmail();", @placeholder = "Enter email address to receive bill", @id = "Email" } })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </td>
                        <td>

                            <button type="submit" class="btn btn-default" id="AddEmail">Add</button>
                        </td>
                    </tr>
                </table>
            }
        </div>

        <br />

        <table class="table table-bordered table-striped" style="margin:auto; width:100%" align="center">
            <thead><b>List of Linked Email</b></thead>
            <tr>
                <th style="display:none"></th>
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Status</th>
                <th></th>
            </tr>

            @{
                foreach (var e in bl.CustomerAccountEmails(Model.AccountId))
                {
                    using (Html.BeginForm("LinkEmail", "LinkedAccounts", FormMethod.Post))
                    {
                        //if (e.EmailStatus != "Inactive")
                        //{
                        @Html.AntiForgeryToken()
                        <tr>
                            <td style="display:none"><input type="text" name="AccountId" value="@e.EmailId" /></td>
                            <td>@e.LinkedEmail</td>
                            <td>@e.EmailStatus</td>
                            <td>
                                @if (e.EmailStatus == "Active")
                                {
                                    <a class="btn btn-default" name="Command" data-toggle="modal" data-target="@String.Concat("#modalUnsubscribe", e.EmailId).Trim()">Unsubscribe</a>
                                }
                                @if (e.EmailStatus == "Inactive")
                                {
                                    <a class="btn btn-default" name="Command" data-toggle="modal" data-target="@String.Concat("#modalSubscribe", e.EmailId).Trim()">Subscribe</a>
                                }
                            </td>
                        </tr>
                        //}
                    }
                }
            }
        </table>

        <br />
        <p>
            @Html.ActionLink("Back to Accounts", "Create", "LinkedAccounts", new { @class = "btn btn-default" })
        </p>
    </div>



    @{
        foreach (var e in bl.CustomerAccountEmails(Model.AccountId))
        {
            <form action="/LinkedAccounts/SubscribeEmail" method="post">
                <div class="modal fade" id="@String.Concat("modalSubscribe", e.EmailId).Trim()" tabindex=" -1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <input type="hidden" name="AccountNumber" value="@e.AccountId" />
                    <input type="hidden" name="LinkedEmail" value="@e.EmailId" />

                    <div class="modal-dialog" role="document" style="border:none;">
                        <div class="modal-content">
                            <div class="modal-header text-center" style="border:none;">

                                <h4 class="modal-title w-100 font-weight-bold">Are you sure you want to receive your municipal bill for account no.:@e.LinkedAccount.AccountNumber by email? <span id="SubscribeEmail"></span>@*linked with this account: <span id="SubscribeAcc"></span>*@</h4>
                                
                            </div>
                            <div class="modal-footer d-flex justify-content-center" style="border:none;">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input value="Yes" type="submit" class="btn btn-default" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
                <form action="/LinkedAccounts/UnsubscribeEmail" method="post">
                    <div class="modal fade" id="@String.Concat("modalUnsubscribe", e.EmailId).Trim()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input type="hidden" name="AccountNumber" value="@e.AccountId" />
                        <input type="hidden" name="LinkedEmail" value="@e.EmailId" />

                        <div class="modal-dialog" role="document" style="border:none;">
                            <div class="modal-content">
                                <div class="modal-header text-center"  style="border:none;">

                                    <h4 class="modal-title w-100 font-weight-bold">Are you sure you want to stop receiving your municipal bill for account no.:@e.LinkedAccount.AccountNumber by email?<span id="UnsubscribeEmail"></span> @*linked with this account: <span id="UnsubscribeAcc"></span>*@</h4>
                                    
                                </div>
                                <div class="modal-footer d-flex justify-content-center" style="border:none;">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input value="Yes" type="submit" class="btn btn-default" />
                                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
        }


    }
</div>

@section Scripts {


    <script>

        $(document).ready(function () {

            $("#AddEmail").addClass("disabled");

            $('#CreateEmail')[0].reset();
        })

        $('#Email').focusin(function ()
        {
            
            
                document.getElementById("idAlert").style.display = 'none';
                document.getElementById("idTr").style.display = 'none';
                document.getElementById("idDanger").style.display = 'none';
                document.getElementById("idSuccess").style.display = 'none';
                document.getElementById("idTr").style.display = 'none';
            
        })


        $("#Email").focusout(function () {
            $.get("/LinkedAccounts/ValidateEmail/", { accno: $('#AccountId').val(), Email: $('#Email').val() },
            function (data) {

                if (data != "") {
                    if (data == true) {
                        document.getElementById("idAlert").style.display = 'block';
                        document.getElementById("idTr").style.display = 'block';
                        document.getElementById("idDanger").style.display = 'block';
                        document.getElementById("idSuccess").style.display = 'none';
                        document.getElementById("idTr").innerText = "The email already exists";
                        $("#AddEmail").addClass("disabled");
                    }
                    else {

                    }
                }
                else {

                    $("#AddEmail").removeClass("disabled");
                    document.getElementById("idAlert").style.display = 'none';
                    document.getElementById("idTr").style.display = 'none';
                    document.getElementById("idDanger").style.display = 'none';
                    document.getElementById("idSuccess").style.display = 'none';
                }
                $(".divLogininner")[0].reset();
            });
        });



        function ValidateEmail() {

        }



        function onSuccess() {
            document.getElementById("idAlert").style.display = 'none';
            document.getElementById("idDanger").style.display = 'none';
            document.getElementById("idSuccess").style.display = 'none';

            var form = $('#CreateEmail')[0];
            var data = new FormData(form);
            $.ajax({
                type: "Post",
                url: "/LinkedAccounts/LinkEmail",
                data: data,
                success: function (result) {
                    if (result == true) {
                        $("#idSuccess").visible;
                        document.getElementById("idAlert").style.display = 'block';
                        document.getElementById("idSuccess").style.display = 'block';
                        document.getElementById("idDanger").style.display = 'none';

                        $("idDanger").hide();
                        $("idAlert").show();
                        $("idSuccess").show();
                        $("#CreateEmail")[0].reset();
                        window.location.href = "/LinkedAccounts/ManageEmails";
                        //$("#MyModal").modal("hide");
                    }
                },

                cache: false,
                contentType: false,
                processData: false
            });
        }

        //function onSuccess() {
        //    document.getElementById("idAlert").style.display = 'none';
        //    document.getElementById("idDanger").style.display = 'none';
        //    document.getElementById("idSuccess").style.display = 'none';

        //    var form = $('#CreateEmail')[0];
        //    var data = new FormData(form);
        //    $.ajax({
        //        url: "/LinkedAccounts/LinkEmail",
        //        type: 'POST',
        //        data: data,
        //        success: function (data) {

        //            $("#idSuccess").visible;
        //            document.getElementById("idAlert").style.display = 'block';
        //            document.getElementById("idSuccess").style.display = 'block';
        //            document.getElementById("idTrSucc").innerText = "The email entered is currently:" +data;
        //            document.getElementById("idDanger").style.display = 'none';

        //            $("idDanger").hide();
        //            $("idAlert").show();
        //            $("idSuccess").show();
        //            $("idTrSucc").show();
        //            $("#CreateEmail")[0].reset();
        //        },

        //        cache: false,
        //        contentType: false,
        //        processData: false
        //    });
        //}
    </script>

    <script>
        var msg = '@message';
        if (msg)
            alert(msg)
    </script>

    <script>
        function AccountDetails() {

            var AccountNumber = $("#accno").val();
            var Email = $("#emailtxt").val();
            if (Email != "" && AccountNumber != "") {
                $.post("/LinkedAccounts/LinkAccount/", { AccountNumber: AccountNumber, Email: Email }, function (data) {
                    AppendEmail(data);
                    document.getElementById('emailtxt').value = "";
                    //document.getElementById('h6Acc').innerHTML = "Account Number:" + accNo;
                    document.getElementById('submit').className = 'btn btn-default';
                });

            }


        }
    </script>

    <script>
        var count = 0;
        function AppendEmail(email) {
            $("#Emails").removeClass("hidden");
            var element = document.createElement("li");
            var deleteicon = document.createElement("span");
            deleteicon.className = 'glyphicon glyphicon-trash';

            deleteicon.id = count;
            element.id = count;


            deleteicon.addEventListener("click", function () {
                $.post("/LinkedAccounts/DeleteLinkEmail/", { Email: element.textContent });
                document.getElementById('items').removeChild(element);

            });

            element.innerText = email;
            element.appendChild(deleteicon);
            document.getElementById("items").appendChild(element);
            count = count + 1;
        }


    </script>

    <script>
        function UnsubscribeCommand() {
            var email = $('#idEmail').val();
            var account = $('#AccountId').val();

            $.ajax({
                type: 'POST',
                url: "/LinkedAccounts/UnsubscribeEmail",
                dataType: 'json',
                data: { AccountNumber: account, LinkedEmail: email },
                success: function (response) {
                    $('#modalUnubscribe').modal('hide');
                    window.location.href = "/LinkedAccounts/ManageEmails/" + account;
                },
                error: function (ex) {

                }
            });

            return false;

        }

        function SubscribeCommand() {
            var email = $('#idEmail').val();
            var account = $('#AccountId').val();

            $.ajax({
                type: 'POST',
                url: "/LinkedAccounts/SubscribeEmail",
                dataType: 'json',
                data: { AccountNumber: account, LinkedEmail: email },
                success: function (response) {
                    $('#modalSubscribe').modal('hide');
                    window.location.href = "/LinkedAccounts/ManageEmails/" + account;
                },
                error: function (ex) {

                }
            });

            return false;


        }

        function Subscribe(id, acc) {
            $('#modalSubscribe').modal('show');
            $('.SubscribeEmail').val(id);
            $('.SubscribeAcc').val(acc);

            $('#SubscribeEmail').text(id);
            $('#SubscribeAcc').text(acc);
        }

        function Unsubscribe(id, acc) {
            $('#modalUnsubscribe').modal('show');
            $('.UnsubscribeEmail').val(id);
            $('.UnsubscribeAcc').val(acc);

            $('#UnsubscribeEmail').text(id);
            $('#UnsubscribeAcc').text(acc);
        }

    </script>

}
