﻿@model eServices.Models.LinkedAccount
@using eServices.Models

@{
    ViewBag.Title = "ViewBills";

    BusinessLogic bl = new BusinessLogic();
    Layout = "~/Views/SHared/_Customer.cshtml";


}





<style>
    #formtable {
        width: 70%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
        margin-left: 30%;
    }


    .divLogin {
        position: relative;
        margin-left: 30%;
        width: 60%;
        height: 500px;
        overflow-y: auto;
        background-color: white;
        margin-top: 80px;
        padding: 10px;
    }

    /*#tdBord {
        border-right: hidden;
        border-top: hidden;
        border-bottom: hidden;
    }*/

    /*.back {
        position: relative;13397/1=x/100
        left: 70%;
    }*/
</style>
<div class="divLogin">
    <h3 style="text-align:center">Current Linked Accounts</h3>
    <p><b>List of Linked Accounts</b></p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Account Number</th>
            <th>Status</th>
            <th>Date Created</th>
            <th></th>

        </tr>
        @{



            foreach (var e in bl.CustomerAccounts(User.Identity.Name))
            {
                if (e.AccountStatus.ToLower() == "active")
                {
                    using (Html.BeginForm("FindAcc", "LinkedAccounts", FormMethod.Post, new { id = "findacc" }))
                    {
                        @Html.AntiForgeryToken()
                        <tr>
                            <td>@e.AccountNumber</td>
                            <td>@e.AccountStatus</td>
                            <td>@e.DateCreated</td>
                            <td id="tdBord"><a href="~/Bills/Details/@e.AccountNumber" class="btn btn-default" name="View Bills">View Bills</a></td>

                        </tr>
                    }
                }

            }

        }



    </table>
    @*@Html.ActionLink("Back", "Create", "LinkedAccounts", new { @class = "btn btn-default back" })
        <a href="~/Home/Index" class="btn btn-default back">Back To Menu</a>*@
    @*@Html.ActionLink("Back To Menu", "Index","Home", new { @class = "btn btn-default back" })*@
</div>

