﻿@model eServices.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/SHared/_Customer.cshtml";
}

<style>
   .divLogin {
        position: relative;
        margin-left: 30%;
        width: 60%;
        height: 500px;
        overflow-y: auto;
        background-color: white;
        margin-top: 80px;
        padding: 10px;
    }

    .movItems {
        position: relative;
        overflow-x:hidden;
        margin-left:20%;
    }

    .movBackButton {
        position: relative;
        left: 0%;
        display: inline;
    }
</style>
<script>
    //$(".toggle-password").click(function () {

    //    $(this).toggleClass("fa-eye fa-eye-slash");
    //    var input = $($(this).attr("toggle"));
    //    if (input.attr("type") == "password") {
    //        input.attr("type", "text");
    //    } else {
    //        input.attr("type", "password");
    //    }
    //});
</script>

<div class="divLogin">
    <h3 style="text-align:center">Change Password</h3>
    <br />
    <div class="movItems">


        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()


           
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 " })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control",placeholder="Enter current Password" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control",placeholder="Enter new Password" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder="Confirm new Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <p class="movBackButton"><a href="~/Home/Index" class="btn btn-danger">Cancel</a></p>

                </div>
            </div>

        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}