﻿@model eServices.Models.Bill

@{

    ViewBag.Title = "Bill";

    var message = TempData["AlertMessage"] ?? string.Empty;

}

<style>

    /*.divLogin{

        position:relative;

        left:10%;

        width:75%;

        height:100%;

        background-color:white;

        border:solid lightgray;

        margin-top:5%;

    }

    .center{

        position:relative;

        margin:5%;

        left:20%;



    }

    h2{

        position:relative;

        left:40%;

    }

    .size{

        position:relative;

        left:50%;



    }*/

    .divLogin {
        margin: auto;
        left: 25%;
        width: 60%;
        height: 100%;
        background-color: white;
        border: solid lightgray;
        margin-top: 5%;
        padding: 20px;
    }

    #formtable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
    }

    input {
        width: 50%;
    }

        input[type=submit] {
            /* background-color: lightgray;*/
            max-width: 100%;
            margin-bottom: 1%;
        }

    #SubmitPane {
        margin-left: 50%;
        margin-top: 10%;
    }

        #SubmitPane button, #SubmitPane a {
            width: 150px;
        }
</style>

<script>

    var msg = '@message';

    if (msg)

        alert(msg);

</script>

@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()

<div class="divLogin">

    <h2 class="text-center">Smart Bill</h2>

    <hr />

    <h3 class="text-center">Property Valuation</h3>

    <hr />

    <h3 class="text-center">Sammary of Account</h3>

    <hr />

    <table id="formtable">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <tr>
            <th>
                @Html.LabelFor(model => model.BillId, htmlAttributes: new { @class = "control-label" })
            </th>

            <td>
                @Html.EditorFor(model => model.BillId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>  @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label" }) </th>
            <td>
                @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
            </td>
        </tr>


        <tr>
            <th> @Html.LabelFor(model => model.AccountHolderName, htmlAttributes: new { @class = "control-label" }) </th>
            <td>
                @Html.EditorFor(model => model.AccountHolderName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountHolderName, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th> @Html.LabelFor(model => model.BillPeriod, htmlAttributes: new { @class = "control-label" }) </th>
            <td>
                @Html.EditorFor(model => model.BillPeriod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillPeriod, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label" }) </th>
            <td>
                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label" }) </th>
            <td>
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.PreviousBalance, htmlAttributes: new { @class = "control-label" }) </th>
            <td>
                @Html.EditorFor(model => model.PreviousBalance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreviousBalance, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th> @Html.LabelFor(model => model.PaymentMade, htmlAttributes: new { @class = "control-label" }) </th>
            <td>
                @Html.EditorFor(model => model.PaymentMade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentMade, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.BalanceBroughtForward, htmlAttributes: new { @class = "control-label" }) </th>
            <td>
                @Html.EditorFor(model => model.BalanceBroughtForward, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BalanceBroughtForward, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.TotalAmountDue, htmlAttributes: new { @class = "control-label" })
            </th>
            <td>
                @Html.EditorFor(model => model.TotalAmountDue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalAmountDue, "", new { @class = "text-danger" })
            </td>
        </tr>


    </table>


    <div id="SubmitPane">

        <table>

            <tr>
                <td><button type="submit" value="Submit" class="btn btn-default">Submit</button></td>
            </tr>

        </table>

    </div>

</div>

   

}
