﻿@model eServices.Models.Bill
@using eServices.Models
@{
    ViewBag.Title = "Smart Bill";

    var message = TempData["AlertMessage"] ?? string.Empty;

    var dropselected = ViewBag.setSelected ?? string.Empty;

    var errormsg = TempData["errormsg"] ?? string.Empty;
    BL lo = new BL();
}
<style>
    /*.divLogin{

        position:relative;

        left:10%;

        width:75%;

        height:100%;

        background-color:white;

        border:solid lightgray;

        margin-top:5%;

    }

    .center{

        position:relative;

        margin:5%;

        left:20%;



    }

    h2{

        position:relative;

        left:40%;

    }

    .size{

        position:relative;

        left:50%;



    }*/

    .divLogin {
        margin: auto;
        left: 25%;
        width: 60%;
        height: 100%;
        background-color: white;
        border: solid lightgray;
        margin-top: 5%;
        padding: 20px;
    }

    #formtable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
    }

    input {
        width: 50%;
    }


        input[type=submit] {
            /* background-color: lightgray;*/
            max-width: 100%;
            margin-bottom: 1%;
        }

    #SubmitPane {
        margin-left: 50%;
        margin-top: 10%;
    }

        #SubmitPane button, #SubmitPane a {
            width: 150px;
        }
</style>

<script>

    var errmsg = '@errormsg'
    if (errmsg) {
        alert(errmsg);
    }

    var msg = '@message';

    if (msg)

        alert(msg);
    var drop = '@dropselected';
    if (drop)
    {
        //var e = document.getElementById("drp1");
        //var selected_value = e.options[e.selectedIndex].value;
        $('#drp1 option').val(drop);
    }

    function getMonth() {

        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];



        var someObj = new Date();
        var dateObj = new Date(someObj.getFullYear(),someObj.getMonth());
        var dateStrings = [];
        var EndDayStrings = [];
        var html = "";
        var dateFormatOptions = {

            //month: 'long',
            year: 'numeric'
        };



        var d = "";
        var month = ""


        //var month = 0; // January
        //var d = new Date(month + 1);
        //alert(d);
        for (var i = 0; i < 12; i++) {
            dateStrings.push(dateObj.toLocaleString('en-US', dateFormatOptions));

            d = new Date(dateObj.getFullYear(), dateObj.getMonth() + 2, 0);
            d1 = new Date(dateObj.getFullYear(), dateObj.getMonth()+1,0);

            //var m = new Date(dateObj.getMonth() + 1);

            html += '<option value="' + d1.getMonth()+d1.getFullYear() + '">' + "01 " + months[d1.getMonth()] + " " + d1.getFullYear() + " - " + "01" + " " + months[d.getMonth()] + " " + d.getFullYear() + '</option>'


          // html += '<option value="' + dateStrings[i] + '">' + "01 " + dateStrings[i].substring(0, 3) + " - " + d.getDate() + " " + dateStrings[i].substring(0, 3) + '</option>'


            //html += '<option value="' + dateStrings[i] + '">' + "01 - " + d.getDate() +" " +dateStrings[i] + '</option>'


            dateObj.setMonth(dateObj.getMonth() - 1);
        }
        //document.getElementById("output").innerHTML = dateStrings.join("\n");
        document.getElementById("drp1").innerHTML = html;


        if (localStorage.getItem("dropName")!=null)
        {
            //alert(localStorage.getItem("dropName"));
            document.getElementById("drp1").selectedIndex = localStorage.getItem("dropIndex");
            //$("#drp1").val(localStorage.getItem("dropName"));
        };
        
        localStorage.removeItem("dropIndex");
    }

    function SetSelectedValue() {
        @*var e = document.getElementById("drp1");
        var selected_value = e.options[e.selectedIndex].value;
        var AccountNumber = document.getElementById("AccN").value;
        //alert(selected_value + " " + AccNumber);

        if (selected_value.length == 5) {

            selected_value = "0"+selected_value;
        }


        var AccountNumber = document.getElementById("AccN").textContent;
        alert(selected_value);
        var url = '@Url.Action("Details", "Bills")';
        var data = {id:AccountNumber, monthYear: selected_value };
        $.get(url, data, function (result) {

            if (data == null) {
                alert("Data not found");
            }



        });*@


        //var data = { id: AccountNumber, monthYear: selected_value };

        //$.get("/Bills/getBillPeriod/" + data, function () {


        //});
        var e = document.getElementById("drp1");
        var selected_value = e.options[e.selectedIndex].value;

        var index = e.selectedIndex;


        if (selected_value.length == 5) {

            selected_value = "0" + selected_value;
        }
        $('#billp').submit()

       
           
        localStorage.setItem("dropIndex", index);
        //var dateValue = localStorage.getItem(selected_value);
        //if (dateValue != null) {
        //    $("select[name=dropName]").val(dateValue);
        //}

        //$("select[name=dropName]").on("change", function () {
        //    localStorage.setItem(dateValue, $(this).val());
        //});






    }




    //function getMonths() {
    //    var dateObj = new Date();
    //    var dateStrings = [];
    //    var dateFormatOptions = {
    //        month: 'long',
    //        year: 'numeric'
    //    };

    //    for (var i = 0; i < 12; ++i) {
    //        dateStrings.unshift(dateObj.toLocaleString('en-US', dateFormatOptions));
    //        dateObj.setMonth(dateObj.getMonth() - 1);
    //    }
    //    document.getElementById("output").innerHTML = dateStrings.join("\n");


    //}




        //var date = new Date();
        //date.setMonth(date.getMonth() + 1);
        //var months = 12;
        //var monthNames = ["January", "February", "March", "April", "May", "June",
        //  "July", "August", "September", "October", "November", "December"
        //];
        //var select = document.getElementById('Monthddl');
        //var html = '';
        //for (var i = 0; i < months; i++) {
        //    var m = date.getMonth();
        //    html += '<option value="' + monthNames[m] + '">' + monthNames[m] + '</option>'
        //    date.setMonth(date.getMonth() + 1);
        //}
        //select.innerHTML = html;

    //$(document).unload( function () {
    //    localStorage.removeItem("dropIndex");
    //});

</script>

@using (Html.BeginForm("Details","Bills",FormMethod.Post,new { id="billp" }))

{

    @Html.AntiForgeryToken()

    <div class="divLogin">

        <h2 class="text-center">Smart Bill</h2>
        <a href="/Bills/CovertToPdf/@Model.BillId" class="btn btn-primary">Download</a>

        <hr />
        <table class="table table-bordered table-striped" style="width:65%">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.BillId,new{ @id="billid" })

            <tr>
                <th>  @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label" }) </th>
                <td>
                    @Html.DisplayFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>


            <tr>
                <th> @Html.LabelFor(model => model.AccountHolderName, htmlAttributes: new { @class = "control-label" }) </th>
                <td>
                    @Html.DisplayFor(model => model.AccountHolderName, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <th> @Html.LabelFor(model => model.DateAccountDue, htmlAttributes: new { @class = "control-label" }) </th>
                <td>
                    @Html.DisplayFor(model => model.DateAccountDue, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <th> @Html.LabelFor(model => model.BillPeriod, htmlAttributes: new { @class = "control-label" }) </th>
                <td>
                    @*@Html.DisplayFor(model => model.BillPeriod, new { htmlAttributes = new { @class = "form-control" } })*@
                    @*<select id="Monthddl" name="months" class="form-control">
                                         
                     
                      
                    </select>*@
                    <select id="drp1" name="dropName" onchange="SetSelectedValue()" style="width:100%" >
                       
                    </select>
                    
</td>
            </tr>

            <tr>
                <th>@Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label" }) </th>
                <td>
                    @*@Html.DisplayFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", id="AccN" } })*@
                    @*<input type="text" value="@Model.AccountNumber" id="AccN" style="border:none;border-color:transparent;background-color:none" disabled/>*@
                    <label id="AccN" style="font-weight:normal">@Model.AccountNumber</label>
                    @Html.HiddenFor(model => model.AccountNumber)
                </td>
            </tr>
        </table>
        <h3 class="text-center">Property Valuation</h3>

        <hr />
        <table class="table table-bordered table-striped" style="width:80%;text-align:right;margin:auto">
            <tr>
                <th>
                    @Html.LabelFor(model => model.StandSize)
                </th>

                <th>
                    @Html.LabelFor(model => model.DateofValuation)
                </th>

                <th>
                    @Html.LabelFor(model => model.MunicipalValuation)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.StandSize)
                </td>

                <td>
                    @Html.DisplayFor(model => model.DateofValuation)
                </td>

                <td>
                  @ViewBag.rand @Html.DisplayFor(model => model.MunicipalValuation, new { htmlAttributes = new { id="valuation" } })
                </td>
            </tr>

        </table>
        <h3 class="text-center">Summary of Account</h3>

        <hr />

        <table class="table table-bordered table-striped" style="width:80%;text-align:right;margin:auto">


            <tr>
                <th>Details </th>
                <th>
                    Amount
                </th>
            </tr>

            <tr>
                <th>@Html.LabelFor(model => model.PreviousBalance, htmlAttributes: new { @class = "control-label" }) </th>
                <td>
                 @ViewBag.rand   @Html.DisplayFor(model => model.PreviousBalance, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <th> @Html.Label("Payment Made(" + Model.PaymentMade + ")", htmlAttributes: new { @class = "control-label" }) </th>
                <td>
                 @ViewBag.rand   @Html.DisplayFor(model => model.PaymentMadeAmount, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                <th>@Html.LabelFor(model => model.BalanceBroughtForward, htmlAttributes: new { @class = "control-label" }) </th>
                <td>
                 @ViewBag.rand   @Html.DisplayFor(model => model.BalanceBroughtForward, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <th>@Html.Label("Current Charges", htmlAttributes: new { @class = "control-label" }) </th>
                <td>
                  @ViewBag.rand  @Html.DisplayFor(model => model.ChargesAmount, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
        </table>
        <h4 style="margin-left:10%"><b>Current Charges @*@Model.BillPeriod*@</b></h4>
        <h4 data-toggle="collapse" data-target="#demo" style="margin-left:10%">Electricity <span class="caret" style="font-size:30px"></span></h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="margin-left:10%" class="collapse" id="demo">
            <table class="table table-bordered table-striped" style="width:89%">
                <tr>
                    <th>
                        @Html.Label("Charged Item")
                    </th>

                    <th>
                        @Html.Label("Amount")
                    </th>
                </tr>
                @{ 
                   
                    var yearAndMonth=Convert.ToDateTime(Model.BillPeriod);
                    
                }
                @foreach (var item in lo.getCharges(Model.BillId).Where(m => m.ItemGroup == "Electricity" && m.Date.Year== yearAndMonth.Year && m.Date.Month== yearAndMonth.Month))
                {

                    <tr>
                        <td >
                            @item.ItemName
                        </td>
                        @if (item.Price != 0)
                        {
                        <td style="text-align:right">
                         @ViewBag.rand   @item.Price
                        </td>
                        }
                        else
                        {
                            <td style="text-align:right"></td>
                        }
</tr>
                }
            </table>
            
        </div>
        <h4 data-toggle="collapse" data-target="#Waste" style="margin-left:10%">Cleansing and Solid Waste <span class="caret" style="font-size:30px"></span></h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="margin-left:10%" class="collapse" id="Waste">
            <table class="table table-bordered table-striped" style="width:89%">
                <tr>
                    <th>
                        @Html.Label("Charged Item")
                    </th>

                    <th>
                      @Html.Label("Amount")
                    </th>
                </tr>
                @foreach (var item in lo.getCharges(Model.BillId).Where(m => m.ItemGroup == "Cleansing and Solid Waste" && m.Date.Year == yearAndMonth.Year && m.Date.Month == yearAndMonth.Month))
                {
                    <tr>
                        <td>
                            @item.ItemName
                        </td>

                        <td style="text-align:right">
                        @ViewBag.rand @item.Price
                        </td>
                    </tr>
                }
            </table>

        </div>
        <h4 data-toggle="collapse" data-target="#Rates" style="margin-left:10%">Property Rates <span class="caret" style="font-size:30px"></span></h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="margin-left:10%" class="collapse" id="Rates">
            <table class="table table-bordered table-striped" style="width:89%">
                <tr>
                    <th>
                        @Html.Label("Charged Item")
                    </th>

                    <th>
                        @Html.Label("Amount")
                    </th>
                </tr>
                @foreach (var item in lo.getCharges(Model.BillId).Where(m => m.ItemGroup == "Property Rates" && m.Date.Year == yearAndMonth.Year && m.Date.Month == yearAndMonth.Month))
                {
                    <tr>
                        <td>
                            @item.ItemName
                        </td>
                     @if (item.Price != 0)
                     {
                        <td style="text-align:right">
                           @ViewBag.rand @item.Price
                        </td>
                     }
                     else
                     {
                        <td style="text-align:right"></td>
                     }
                    </tr>
                }
            </table>

        </div>

        <h4 data-toggle="collapse" data-target="#Water" style="margin-left:10%">Water and Sanitation<span class="caret" style="font-size:30px"></span></h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="margin-left:10%" class="collapse" id="Water">
            <table class="table table-bordered table-striped" style="width:89%">
                <tr>
                    <th>
                        @Html.Label("Charged Item")
                    </th>

                    <th>
                        @Html.Label("Amount")
                    </th>
                </tr>
                @foreach (var item in lo.getCharges(Model.BillId).Where(m => m.ItemGroup == "Water and Sanitation" && m.Date.Year == yearAndMonth.Year && m.Date.Month == yearAndMonth.Month))
                {
                    <tr>
                        <td >
                            @item.ItemName
                        </td>
                      @if (item.Price != 0)
                      {
                        <td style="text-align:right">
                            @ViewBag.rand  @item.Price
                        </td>
                      }
                      else
                      {
                        <td style = "text-align:right"> </td>
                      }


                    </tr>
                }
            </table>

        </div>
        <h4 data-toggle="collapse" data-target="#Sundries" style="margin-left:10%">Sundries<span class="caret" style="font-size:30px"></span></h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="margin-left:10%" class="collapse" id="Sundries">
            <table class="table table-bordered table-striped" style="width:89%">
                <tr>
                    <th>
                        @Html.Label("Charged Item")
                    </th>

                    <th>
                        @Html.Label("Amount")
                    </th>
                </tr>
                @foreach (var item in lo.getCharges(Model.BillId).Where(m => m.ItemGroup == "Sundries" && m.Date.Year == yearAndMonth.Year && m.Date.Month == yearAndMonth.Month))
                {
                    <tr>
                        <td>
                            @item.ItemName
                        </td>

                        <td style="text-align:right">
                           @ViewBag.rand @item.Price
                        </td>
                    </tr>
                }
            </table>

        </div>
            <table class="table table-bordered table-striped" style="width:80%;text-align:right;margin:auto">
                <tr>
                    <th>
                        @Html.LabelFor(model => model.TotalAmountDue, htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                   @ViewBag.rand @Html.DisplayFor(model => model.TotalAmountDue, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>


            </table>
            <div id="SubmitPane">

                <table>

                    <tr>
                        <td><a href="~/LinkedAccounts/ViewBills" class="btn btn-default">Back</a></td>
                        <td><a href="~/Home/Index" class="btn btn-default">Back To Menu</a></td>
                         @*<td><button type="submit" value="Submit" class="btn btn-default">Submit</button></td>*@
                    </tr>

                </table>
                
            </div>

        </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
       
        getMonth();
       
    })
            </script>
        }
}