﻿@model IEnumerable<eServices.Models.Bill>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.PreviousBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceBroughtForward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmountDue)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountHolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.PreviousBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceBroughtForward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmountDue)
            </td>
            <td>
                @Html.ActionLink("Current Charges", "Charges", new { id = item.BillId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.BillId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BillId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BillId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
