﻿@{
    ViewBag.Title = "EmailConfirmation";
}

<style>

    .align{

        text-align:center;
    }

</style>
<form id="regForm" action="/Account/Register" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <h3 class="align">Verify Your Email Address</h3>
    <br />


    <div>
        <div>
            <p class="alert alert-info" style="text-align:center">
                We now need to verify your email address.
               We've sent you an email to verify your address.
                 Please click the link in that email to proceed.


            </p>
        </div>
    </div>
</form>





