﻿@{
    ViewBag.Title = "Forgot Password";
}

<style>
    .divLogin {
        margin: auto;
        left: 25%;
        width: 60%;
        height: 100%;
        background-color: white;
        border: solid lightgray;
        margin-top: 8%;
        padding: 20px;
    }

    .title {
    
    font-size:25px;
    font-weight:500;
    text-align:center;
    }

</style>

<div class="divLogin">

    <p class="title"> @ViewBag.Title </p>

        <p style="text-align:center">
           We've sent an email to the address you provided.Please click the link in the email to proceed.
        </p>
    
</div>
	
