﻿@model eServices.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password?";
}

<style>
    .divLogin {
        margin: auto;
        left: 25%;
        width: 60%;
        height: 100%;
        background-color: white;
        border: solid lightgray;
        margin-top: 8%;
        padding: 20px;
    }

    .contentInfo {
        font-size: 15px;
        /*content:"Enter your email address below and a link will be sent to you to reset your password";*/
        text-align: center;
    }

    .reuiredfield {
        color: red;
        font-size: 20px;
        content: "*";
    }


    .ps {
        font-size: 25px;
        text-align: center;
    }

    .alignCenter {
        text-align:center;
    }
</style>


<div class="divLogin">
    <p class="ps"> @ViewBag.Title </p>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <p class="contentInfo"> Enter your email address below and a link will be sent to you </p>

      




        <p style="margin-left:28%">   @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter Email Address", @class = "form-control" }) </p>
            <p style="color:red;margin-left:28.5%">@ViewBag.Error</p>
            <p style="margin-left:28.5%">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</p>  



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                       <p style="margin-left:30%"> <input type="submit" class="btn btn-default" value="Email Link" /> </p>
                    </div>
                </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
