﻿@using eServices.Models
@model LoginViewModel
@{
    ViewBag.Title = "eServices";
}
@{    var msg = TempData["AlertMessage"] ?? string.Empty;
}

<style>
    .divLogin {
        left: 25%;
        width: 50%;
        height: 100%;
        background-color: white;
        border: solid lightgray;
        margin-top: 7%;
    }
    /*.txtbox {

            position:relative;
            width:100%;
        }*/

    .size {
        position: relative;
        width: 100%;
        background-color: lightgray;
    }

    input[type=text], input[type=password] {
        max-width: 100% !important;
        margin-left: 1%;
    }

    input[type=submit] {
        background-color: lightgray;
        max-width: 100%;
        margin-bottom: 1%;
    }

    .checkbox1 {
        position: relative;
        right: 20%;
    }
    /*.button{
            position:relative;
       width:120%;
        }*/
    .p1 {
        position: absolute;
        right: 5% !important;
        text-decoration: underline;
    }

    span {
        /*color:Highlight;*/
    }

    /* p.sub-menu-item:before,  p.sub-menu-item:after {
        content: "\2014";
        width:100%
    }*/
    .line {
        overflow: hidden;
        text-align: center;
        color: grey;
    }

        .line:before,
        .line:after {
            background-color: #DCDCDC;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }

        .line:before {
            right: 0.5em;
            margin-left: -50%;
        }

        .line:after {
            left: 0.5em;
            margin-right: -50%;
        }


    .alignthings {
        text-align: center;
    }
</style>
<script>
    function showPass() {
        var x = document.getElementById("pass");
        if (x.type === "password") {
            x.type = "text";z
        } else {
            x.type = "password";
        }
    }


    var message = '@msg';
    if (message)
        alert(message)
</script>

<div class="row">
    <div class="col-md-5 divLogin">
        <h1 style="margin-left:25%"> @ViewBag.Title Login </h1>

        <section id="loginForm" style="align-content:center">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()






                <div>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Username", @class = "form-control" })
                    <span style="margin-left:5px">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</span>
                </div>


                <div>

                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", @id = "pass" })
                    <span style="margin-left:5px">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</span>
                </div>




                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox checkbox1">
                            @Html.Name("Show Password")
                            @Html.CheckBox("Show Password", new { @onclick = "showPass();" })

                        </div>
                        <div class="checkbox checkbox1">
                            @Html.Name("Keep me signed in")
                            @Html.CheckBoxFor(m => m.RememberMe)

                        </div>
                    </div>
                </div>


                <input type="submit" value="Login" class="btn btn-default size" /><br />
                @Html.ActionLink("Forgot Password?", "ForgotPassword", null, new { @class = "btn btn-default size" })

                <p class="line">New Account</p>

                <p>
                    @Html.ActionLink("Create new account", "Register", null, new { @class = "btn btn-default size" })
                </p>



                        <p style="color:grey" class="alignthings">Sign up for eServices</p>
                //Enable this once you have account confirmation enabled for password reset functionality

            }
        </section>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}