﻿@model eServices.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    var E = TempData["AlertMessage"] ?? String.Empty;
}

<script>
    var message = '@E';
    if (message) {

        alert(message);

    }

</script>

<style>
    .divLogin {
        margin: auto;
        left: 25%;
        width: 60%;
        height: 100%;
        background-color: white;
        border: solid lightgray;
        margin-top: 80px;
        padding: 20px;
    }


    .reuiredfield {
        color: red;
        font-size: 20px;
        content: "*";
    }

    #formtable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 12.5px;
    }

    input {
        width: 50%;
    }

        input[type=submit] {
            background-color: lightgray;
            max-width: 100%;
            margin-bottom: 1%;
        }

    #SubmitPane {
        margin-left: 35%;
        margin-top: 5%;
    }

        #SubmitPane button, #SubmitPane a {
            width: 100px;
        }

    .removeXClass {
    }

    td {
        width: 40%;
    }

    #tdChk {
        position: relative;
        left: 3%;
    }

    #tdChkBox {
        position: relative;
        left: 31.5%;
    }
    /*#tdFile{
        width:40%;
    }*/
</style>
<script>
    $document.getElementById("formId").submit(ValidateId);

    function ValidateId() {

        var id = document.getElementById("txtRSAID").value;
        var Passport = document.getElementById("txtPass").value;
        var id1 = id.slice(0, 12);
        var idOdd = "";
        var idEven = "";
        var addOdd = 0;
        var addEven = 0;
        var idCheck = id.substring(12, 13);

        for (var i = 1; i <= id1.length; i++) {
            if (i % 2 != 0) {
                idOdd += id.substring(i - 1, i);


            }
            else {
                idEven += id.substring(i - 1, i);
            }
        }

        for (var i = 1; i <= idOdd.length; i++) {
            addOdd = addOdd + Number(idOdd.substring(i - 1, i))
        }

        var idEvenX = Number(idEven) * 2;

        var idEvenXString = idEvenX.toString();


        for (var i = 1; i <= idEvenXString.length; i++) {
            addEven = addEven + Number(idEvenXString.substring(i - 1, i))
        }

        var AddAll = addOdd + addEven;

        var singleD = AddAll.toString().substring(1, 2);
        var ControlCheck = 10 - Number(singleD);

        if (Number(idCheck) == "" && ControlCheck == 10 && Passport != null) {
            document.getElementById("error").innerHTML = "";

            return true;
        }


        else if (Number(idCheck) != ControlCheck) {
            //alert("invalid id")
            //alert(Passport);
            //document.getElementById("error").innerHTML = "The Id number entered is invalid!";

            return false;

        }
        else if (Number(idCheck) == ControlCheck) {

            document.getElementById("error").innerHTML = null;
            return true;

        }

        //else if (id == null && Passport != null) {
        //    return true;
        //}


        //alert(idOdd + "  " + idEven + " " + addOdd + " " + idEvenX + " " + addEven + " " +ControlCheck);
    }





    //$(document).on("change",'#selectIdType option:selected',function () {
    //    alert(true);
    //});


    // $("#selectIdType").change(function () {
    //    var str = "";
    //    $("select option:selected").each(function () {
    //        str += $(this).text() + " ";
    //    });
    //    alert(text(str));
    //}).change();


    function myFunction() {
        var x = document.getElementById("selectIdType").value;
        if (x == "RSA ID") {
            document.getElementById("selectIdType").dataset.target = "#RSA";
            document.getElementById("txtPass").value = null;
            document.getElementById("txtRSAID").required = true;

            //document.getElementById("txtRSAID").oninvalid = alert('You must fill out the form!');


            document.getElementById("Lbl").innerHTML = "Upload ID Document";
            document.getElementById("UploadRow").style.display = null;

        }
        else if (x == "Passport Number") {
            document.getElementById("selectIdType").dataset.target = "#PassNo";
            document.getElementById("txtRSAID").value = null;
            document.getElementById("txtPass").required = true;
            document.getElementById("Lbl").innerHTML = "Upload Passport"
            document.getElementById("UploadRow").style.display = null;
            document.getElementById("error").innerHTML = null;

        }

        else {
            document.getElementById("selectIdType").dataset.target = null;
            document.getElementById("txtPass").value = null;
            document.getElementById("txtRSAID").value = null;
            document.getElementById("UploadRow").style.display = "none";
            document.getElementById("error").innerHTML = null;
        }

        //alert("selected")
    }
    function ValidateCellNo(idCellNo) {
        var cellNo = idCellNo.value;
        if (cellNo.length != 10) {
            //alert("Cell Number Must Be 10 Digits");
            $('#feedbackcellnStatus').remove();
            $("#Idstatus").append("<div id='feedbackcellnStatus'><center><font color='red'>Cell Number Must Be 10 Digits</font></center></div>");
            idCellNo.style.border = '1px solid red';
            idCellNo.value = null;
            //document.getElementById("txtCellNo").focus();
            return false;
        }
        else {
            idCellNo.style.border = '';
            $('#feedbackcellnStatus').remove();
        }
        //break;
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            alert("Please enter only Numbers.");
            return false;
        }

        return true;
    }

    function CheckName(txt) {
        var regName = new RegExp('^[a-zA-Z\. ]+$');
        if (txt.value.match(regName) === null) {
            txt.value = txt.value.substr(0, (txt.value.length - 1));
        }
    }

    function CheckName1(txt) {
        var regName = new RegExp('^[,()0-9a-zA-Z\. ]+$');
        if (txt.value.match(regName) === null) {
            txt.value = txt.value.substr(0, (txt.value.length - 1));
        }
    }


    function removeUpload() {
        document.getElementById("upload").value = "";

    }
    function checkPostal() {

        document.getElementById("Postaddress1").value = document.getElementById("paddress1").value
        document.getElementById("Postaddress2").value = document.getElementById("paddress2").value
        document.getElementById("Postaddress3").value = document.getElementById("paddress3").value


    }
</script>


<div class="divLogin">
    <h2 class="text-center">@ViewBag.Title</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "formId", onsubmit = "return ValidateId();", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
        <table id="formtable">
            <tr>
                <td>@Html.LabelFor(m => m.CustomerName, new { @class = "control-label" })  <span class="reuiredfield">*</span> </td>

                <td>
                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", onkeyup = "CheckName(this);", onkeydown = "CheckName(this);" })

                    @Html.ValidationMessageFor(m => m.CustomerName, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.CustomerSurname, new { @class = "control-label" }) <span class="reuiredfield">*</span></td>
                <td>
                    @Html.TextBoxFor(m => m.CustomerSurname, new { @class = "form-control", onkeyup = "CheckName(this);", onkeydown = "CheckName(this);" })
                    @Html.ValidationMessageFor(m => m.CustomerSurname, "", new { @class = "text-danger" })
                </td>

            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.TypeofId, new { @class = "control-label" }) <span class="reuiredfield">*</span>

                </td>
                <td>
                    @*@Html.DropDownListFor(m => m.TypeofId, new List<SelectListItem> {
                        new SelectListItem { Text = "RSA ID", Value = "RSA ID" },
                        new SelectListItem { Text = "Passport Number", Value = "Passport Number" }
                        }, "Select ID Type", new { @class = "form-control", @id= "selectIdType", @onchange = "javascript:myFunction()" })*@
                    <select class="form-control" id="selectIdType" onchange="myFunction()" data-toggle="collapse" name="@Html.NameFor(m=>m.TypeofId)" required title="Type of id field is required.">
                        <option name="Select ID Type" value="">Select ID Type</option>
                        <option name="RSA ID" value="RSA ID">RSA ID</option>
                        <option name="Passport Number" value="Passport Number">Passport Number</option>
                    </select>
                </td>
            </tr>
            <tr class="collapse" id="RSA">
                <td>@Html.LabelFor(m => m.IdNumber, new { @class = "control-label" }) <span class="reuiredfield">*</span></td>
                <td>
                    @Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control", @id = "txtRSAID", @onchange = "ValidateId()", @title = "The ID field is required." })
                    @Html.ValidationMessageFor(m => m.IdNumber, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td></td>
                <td><div id="error" style="color:red"></div></td>
            </tr>
            <tr class="collapse" id="PassNo">
                <td>@Html.LabelFor(m => m.PassportNumber, new { @class = "control-label" }) <span class="reuiredfield">*</span></td>
                <td>
                    @Html.TextBoxFor(m => m.PassportNumber, new { @class = "form-control", @id = "txtPass", @title = "The Passport field is required." })
                    @*@Html.ValidationMessageFor(m => m.PassportNumber, "", new { @class = "text-danger" })*@
                </td>
            </tr>

            <tr id="UploadRow" style="display:none">
                <td>@Html.Label("Upload ID Document", new { @class = "control-label", @id = "Lbl" })</td>
                <td id="tdFile">
                    <input type="file" name="file" class="form-control" id="upload" required title="Upload Document field is required." />
                </td>
                <td><p style="display:inline" id="removeX" onclick="removeUpload()" class="glyphicon glyphicon-remove"></p></td>





            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.Gender, new { @class = "control-label" }) <span class="reuiredfield">*</span></td>
                <td>
                    @Html.DropDownListFor(m => m.Gender, new List<SelectListItem> {
                new SelectListItem { Text = "Male", Value = "Male" },
                new SelectListItem { Text = "Female", Value = "Female" }
               }, "Select Gender", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.CellphoneNumber, new { @class = "control-label" }) <span class="reuiredfield">*</span></td>
                <td>
                    @Html.TextBoxFor(m => m.CellphoneNumber, new { @class = "form-control", onkeypress = "return isNumber(event)", id = "idCellNo", onfocusout = "ValidateCellNo();" })
                    @Html.ValidationMessageFor(m => m.CellphoneNumber, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td>@Html.LabelFor(m => m.PhysicalAddress, new { @class = "control-label" }) <span class="reuiredfield">*</span></td>
                <td>
                    @Html.TextBoxFor(m => m.PhysicalAddress, new { @class = "form-control", @id = "paddress1" })
                    @Html.ValidationMessageFor(m => m.PhysicalAddress, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.TextBoxFor(m => m.PhysicalAddressLine2, new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);", @id = "paddress2" })
                    @Html.ValidationMessageFor(m => m.PhysicalAddressLine2, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.TextBoxFor(m => m.PhysicalPostalCode, new { @class = "form-control", onkeypress = "return isNumber(event)", @id = "paddress3" })
                    @Html.ValidationMessageFor(m => m.PhysicalPostalCode, "", new { @class = "text-danger" })
                </td>

            </tr>


            <tr>

                <td id="tdChkBox">
                    <input type="checkbox" id="chkPostal" name="chkPostal" onclick="checkPostal()">
                </td>

                <td id="tdChk">
                    <label for="chkPostal"> Same as Physical Address</label>
                </td>



            </tr>


            <tr>

                <td>
                    @Html.LabelFor(m => m.PostalAddress, new { @class = "control-label" })
                    <span class="reuiredfield">*</span>
                </td>

                <td>
                    @Html.TextBoxFor(m => m.PostalAddress, new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);", @id = "Postaddress1" })
                    @Html.ValidationMessageFor(m => m.PostalAddress, "", new { @class = "text-danger" })
                </td>

            </tr>




            <tr>
                <td></td>
                <td>
                    @Html.TextBoxFor(m => m.PostalAddressLine2, new { @class = "form-control", onkeyup = "CheckName1(this);", onkeydown = "CheckName1(this);", @id = "Postaddress2" })
                    @Html.ValidationMessageFor(m => m.PostalAddressLine2, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.TextBoxFor(m => m.PostalAddressCode, new { @class = "form-control", onkeypress = "return isNumber(event)", @id = "Postaddress3" })
                    @Html.ValidationMessageFor(m => m.PostalAddressCode, "", new { @class = "text-danger" })


                </td>

                <td></td>


            </tr>

            <tr></tr>
            <tr></tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <span class="reuiredfield">*</span>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <span class="reuiredfield">*</span>

                </td>
                <td>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })<span class="reuiredfield">*</span>
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </td>
            </tr>



        </table>
        <div id="SubmitPane" >
            <table>
                <tr>
                    <td><button type="submit" value="Submit" class="btn btn-default">Submit</button></td>
                    <td><a onclick="window.location.href='/Account/Login'" class="btn btn-default">Cancel</a></td>
                </tr>
            </table>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}