﻿@model eServices.Models.LinkedAccount
@using eServices.Models

@{
    ViewBag.Title = "Account Details";
    BusinessLogic bl = new BusinessLogic();

}
<style>
    .divLogin {
        margin: auto;
        left: 25%;
        width: 60%;
        height: 100%;
        background-color: white;
        border: solid lightgray;
        margin-top: 5%;
        padding: 20px;
    }

    label {
        position: relative;
        left: 5%;
    }

    /*.uploadmove {
        position: relative;
        right: 20% !important;
    }*/

    .back {
        position: relative !important;
        right: 40% !important;
        bottom: 0;
    }
</style>
<div align="center" class="divLogin">

    <h2>Verify Account</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @*<h4>LinkedAccount</h4>*@
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.AccountId)

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.CustomerId, "CustomerId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Customer.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer.CustomerName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Customer.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Customer.CustomerSurname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer.CustomerSurname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Customer.CustomerSurname, "", new { @class = "text-danger" })
                </div>
            </div>


            @{
                if (Model.Customer.PassportNumber != null)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.PassportNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Customer.PassportNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Customer.PassportNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }


                if (Model.Customer.IdNumber != null)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.IdNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Customer.IdNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Customer.IdNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            }


            <div class="form-group">
                @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Uploaded documents", htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    <ul style="margin-left:35%;text-align:left">
                        <li><a href="~/Content/Documents/@bl.CustomerDoc(Model.CustomerId)" target="_blank" class="uploadmove">@bl.CustomerDoc(Model.CustomerId)</a></li>
                        @if (bl.LinkedUploadsCustomerDoc(Model.AccountId) != "")
                        {
                            <li><a href="~/Content/LinkedAccountUploadsDoc/@bl.LinkedUploadsCustomerDoc(Model.AccountId)" target="_blank" class="uploadmove">@bl.LinkedUploadsCustomerDoc(Model.AccountId)</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-default" value="Approve" data-toggle="modal" data-target="#modalApprove" />
                    <input type="submit" value="Reject" class="btn btn-default" data-toggle="modal" data-target="#modalReject" />

                </div>
            </div>


        </div>


                }




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="divReject">
            <div class="modal fade" id="modalReject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="modal-dialog" role="document" style="border:none;">
                    <div class="modal-content">
                        <div class="modal-header text-center" style="border:none;">
                            <h4 class="modal-title w-100 font-weight-bold">Are you sure you want to reject account: @Model.AccountNumber?</h4>
                            
                        </div><br />

                        <div style="display:none">
                            <div class="form-horizontal">
                                @*<h4>LinkedAccount</h4>*@
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.AccountId)

                                <div class="form-group" style="display:none">
                                    @Html.LabelFor(model => model.CustomerId, "CustomerId", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.Customer.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Customer.CustomerName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer.CustomerName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Customer.CustomerSurname, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Customer.CustomerSurname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer.CustomerSurname, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                @{
                                    if (Model.Customer.PassportNumber != null)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Customer.PassportNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Customer.PassportNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.Customer.PassportNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }


                                    if (Model.Customer.IdNumber != null)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Customer.IdNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Customer.IdNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.Customer.IdNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                }


                                <div class="form-group">
                                    @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.Label("Uploaded document", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <a href="~/Content/Documents/@bl.CustomerDoc(Model.CustomerId)" target="_blank" class="uploadmove">@bl.CustomerDoc(Model.CustomerId)</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Reason", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.DropDownList("ReasonId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ReasonId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="modal-footer d-flex justify-content-center" style="border:none;">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" name="Command" value="Reject" class="btn btn-default">Yes</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="divApprove">
            <div class="modal fade" id="modalApprove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="modal-dialog" role="document" style="border:none;">
                    <div class="modal-content">
                        <div class="modal-header text-center" style="border:none;">
                            <h4 class="modal-title w-100 font-weight-bold">Are you sure you want to approve account: @Model.AccountNumber?</h4>
                           
                        </div><br />


                        <div class="modal-footer d-flex justify-content-center" style="border:none;">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" name="Command" value="Approve" class="btn btn-default">Yes</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
                                    }

    <div>
        @Html.ActionLink("Back to List", "Index", "AccountLinkRequests", null, new { @class = "btn btn-default back" })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
